<ion-view ng-init="vm.messages=[]" class="card-view">
  <ion-nav-title ng-click="vm.openPageSliderPopover($event)" ng-show="vm.page">
      第 {{vm.page}} 頁 <i class="ion-android-arrow-dropdown"></i>
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-ios-arrow-thin-left" ng-click="vm.onBack()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-plus-empty" ng-click="vm.onQuickReply(vm.post)"></a>
    <a class="button button-icon icon ion-ios-refresh-empty" ng-click="vm.doRefresh()"></a>
  </ion-nav-buttons>
  <ion-content lazy-scroll on-swipe-right="$ionicGoBack()" >
    <div class="text-center">
      <h4 class="title" >{{vm.post.title || '下載中'}}</h4>
    </div>
    <div class="spinner">
      <ion-spinner class="spinner-balanced" icon="ripple" ng-show="vm.messages.length == 0"></ion-spinner>
    </div>
    <div class="list card" ng-repeat="message in vm.messages track by $index">

      <div class="item item-avatar">
        <img ng-src="{{::message.author.image}}">
        <h2 ng-bind="::message.author.name"></h2>
        <i class="ion-close-circled" style="color:red" ng-show="::message.author.rank == 0"><small>Banned</small></i>
        <i ng-repeat="star in vm.getTimes(message.author.rank) track by $index" class="ion-ios-star" style="color:#F9A825;"></i>
        <p>發表於 {{::vm.relativeMomentize(message.createdAt)}} <span class="fright">#{{::message.pos}}</span></p>
      </div>

      <div class="item item-body" compile="::message.content">
      </div>
      <div class="item ads" ng-show="::message.ads">
        <div class="w100 text-center" style="color:#bbb; font-size: 10px">HKEPC 內嵌的廣告</div>
        <span compile="::message.ads"></span>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="vm.like(message)">
          <i class="icon" ng-class="message.liked ? 'active-liked ion-ios-heart' : 'ion-ios-heart-outline' "></i>
          Like
        </a>
        <a class="tab-item" ng-click="vm.onReply(message)" >
          <i class="icon ion-ios-chatboxes-outline"></i>
          Comment
        </a>
        <a class="tab-item" ng-click="vm.onReport(message)" ng-if="::!message.author.isSelf">
          <i class="icon ion-ios-flag-outline"></i>
          Report
        </a>
        <a class="tab-item" ng-click="vm.onEdit(message)" ng-if="::message.author.isSelf">
          <i class="icon ion-ios-compose-outline"></i>
          Edit
        </a>
      </div>

    </div>
    <ion-infinite-scroll
        class="ispinner text-center"
        ng-if="vm.hasMoreData()"
        on-infinite="vm.loadMore()"
        spinner="ripple"
        immediate-check="false"
        distance="7%">
    </ion-infinite-scroll>
    <div class="text-center" ng-show="vm.end">
      <h4 class="title">完</h4>
    </div>
  </ion-content>
</ion-view>

