<ion-view ng-init="vm.post.title='下載中';vm.messages=[]" view-title="">

  <ion-content class="padding" on-swipe-right="vm.onSwipeRight()"  style="background-color:#f2f2f2">
    <ion-refresher
        pulling-text="拖下重新整理..."
        on-refresh="vm.doRefresh()">
    </ion-refresher>
    <div style="text-align:center">
      <h4 class="title">{{vm.post.title}}</h4>
    </div>
    <div class="spinner">
      <ion-spinner class="spinner-balanced" icon="ripple" ng-show="vm.messages.length == 0"></ion-spinner>
    </div>
    <div class="list card" ng-repeat="message in vm.messages">

      <div class="item item-avatar">
        <img src="{{::message.author.image}}">
        <h2>{{::message.author.name}}</h2>
        <p>{{::message.createdAt}} <span style="float:right">#{{::message.pos}}</span></p>
      </div>

      <div class="item item-body" ng-bind-html="::message.content">
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="vm.like(message)">
          <i class="icon ion-thumbsup" ng-style="message.likedStyle"></i>
          Like
        </a>
        <a class="tab-item" >
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" >
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>
    <ion-infinite-scroll
        class="ispinner"
        ng-if="vm.hasMoreData()"
        style="text-align: center;"
        on-infinite="vm.loadMore()"
        spinner="ripple"
        immediate-check="false"
        distance="7%">
    </ion-infinite-scroll>
    <div style="text-align:center" ng-show="vm.end">
      <h4 class="title">完</h4>
    </div>
  </ion-content>
</ion-view>

