<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    </ion-list>
    <div class="list" ng-show="!vm.isLoggedIn()">
    <label class="item item-input">
      <span class="input-label">Username</span>
      <input type="text" placeholder="Username" ng-model="user.username">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" placeholder="Password" ng-model="user.password">
    </label>
    <div class="padding">
      <button class="button button-block button-positive activated" ng-click="vm.login(user.username,user.password)">Login</button>
    </div>
  </div>
    <div class="list" ng-show="vm.isLoggedIn()">
      <div class="padding">
        <button class="button button-block button-assertive activated" ng-click="vm.logout()">Logout</button>
      </div>
    </div>
    <a class="item item-icon-left" href="">
      <i class="icon ion-link"></i>
      Proxy 伺服器
          <span class="item-note">
            {{::vm.proxy}}
          </span>
    </a>
    <a class="item item-icon-left" href="">
      <i class="icon ion-ios-cog-outline"></i>
      版本
          <span class="item-note">
            {{::vm.version}}
          </span>
    </a>
    <a class="item item-icon-left" href="tg://resolve?domain=hkepcir">
      <i class="icon ion-ios-paperplane-outline"></i>
      Telegram Channel (集合更新、教學)
          <span class="item-note">
            https://telegram.me/HKEPCIR
          </span>
    </a>
    <a class="item item-icon-left" href="tg://resolve?domain=gaplotech">
      <i class="icon ion-ios-paperplane-outline"></i>
      作者 Telegram Channel
          <span class="item-note">
            https://telegram.me/gaplotech
          </span>
    </a>
    <a class="item item-icon-left" href="http://blog.gaplotech.com">
      <i class="icon ion-ios-person-outline"></i>
      關於作者
          <span class="item-note">
            Gap
          </span>
    </a>
  </ion-content>
</ion-view>
