<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    </ion-list>
    <a class="item" href="">
      <style>
        .ion-alert-circled{
          color:darkred;
        }
      </style>
      <i class="icon ion-alert-circled"></i> <i class="icon ion-alert-circled"></i> <i class="icon ion-alert-circled"></i> <i class="icon ion-alert-circled"></i>
      <div class="item-body" target="_system" onclick="window.open('https://github.com/gaplo917/CORS-Proxy/tree/feature/hkepc', '_system', 'location=yes'); return false;">
        <p>HKEPC IR 是非官方、第三方的瀏覧器。本程式不會記錄任何登入名稱或密碼，
          作者亦不會為本程式做成的直接或間接損失負上任何責任，用家需自行承擔風險，敬請留意！</p>

        <p ng-show="vm.isProxy()">作者利用 Web 的技術開發跨平台，但因 WKWebView 不允許 CORS，所以本程式必需連接 Proxy 伺服器去提取 hkepc.com 的 HTML。</p>

        <p ng-show="vm.isProxy()"> Proxy 伺服器絕對不會記錄任何登入名稱或密碼。作者亦已經將 Proxy 伺服器的代碼 Open Source，如果不放心的用家可以自行架設 Proxy 伺服器！</p>
        <p ng-show="vm.isProxy()"> <i class="ion-social-github"></i> https://github.com/gaplo917/CORS-Proxy/tree/feature/hkepc</p>
      </div>
    </a>
    <div class="list" ng-show="!vm.isLoggedIn()">
      <label class="item item-input">
        <span class="input-label">登入名稱</span>
        <input type="text" placeholder="Username" ng-model="vm.user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">登入密碼</span>
        <input type="password" placeholder="Password" ng-model="vm.user.password">
      </label>
      <ion-checkbox ng-model="vm.agreeProxy">我同意使用 Proxy 傳送資料</ion-checkbox>
      <div class="padding" ng-show="vm.isProxy()">
        <button class="button button-block button-positive activated" ng-class="vm.user.username && vm.user.password && vm.agreeProxy ? '' : 'disabled'" ng-click="vm.login(vm.user.username,vm.user.password)">登入</button>
      </div>
      <div class="padding" ng-show="!vm.isProxy()">
        <button class="button button-block button-positive activated" ng-click="vm.login(vm.user.username,vm.user.password)">我明白並登入</button>
      </div>
    </div>
    <div class="list" ng-show="vm.isLoggedIn()">
      <div class="padding">
        <button class="button button-block button-assertive activated" ng-click="vm.logout()">登出</button>
      </div>
    </div>
    <a class="item item-icon-left" ng-click="vm.showProxyPopup()" ng-show="vm.isProxy()">
      <i class="icon ion-link"></i>
      Proxy 伺服器
          <span class="item-note">
            {{vm.proxy}}
          </span>
    </a>
    <a class="item item-icon-left" href="" ng-show="!vm.isIOS()">
      <i class="icon ion-ios-cog-outline"></i>
      版本
          <span class="item-note">
            {{::vm.version}}
          </span>
    </a>
    <a class="item item-icon-left" href="" target="_system" onclick="window.open('https://telegram.me/HKEPCIR', '_system', 'location=yes'); return false;">
      <i class="icon ion-ios-paperplane-outline"></i>
      Telegram Channel (集合更新、教學)
          <span class="item-note">
            https://telegram.me/HKEPCIR
          </span>
    </a>
    <a class="item item-icon-left" href="" target="_system" onclick="window.open('https://telegram.me/gaplotech', '_system', 'location=yes'); return false;">
      <i class="icon ion-ios-paperplane-outline"></i>
      作者 Telegram Channel
          <span class="item-note">
            https://telegram.me/gaplotech
          </span>
    </a>
    <a class="item item-icon-left" href="" target="_system" onclick="window.open('http://blog.gaplotech.com', '_system', 'location=yes'); return false;">
      <i class="icon ion-ios-person-outline"></i>
      關於作者
          <span class="item-note">
            Gap
          </span>
    </a>
    <a class="item item-icon-left" href="" target="_system" onclick="window.open('https://github.com/gaplo917/hkepc-ionic-reader', '_system', 'location=yes'); return false;">
      <i class="icon ion-social-github"></i>
      GitHub
          <span class="item-note">
            HKEPC IR Project
          </span>
    </a>
    <a class="item item-icon-left" href="" target="_system" onclick="window.open('https://trello.com/b/JbzUQ2iP/hkepc-ionic-reader', '_system', 'location=yes'); return false;">
      <i class="icon ion-clock"></i>
      Project 進度
          <span class="item-note">
            Trello Board
          </span>
    </a>
    <div class="item col-center">
      <a href="" target="_system" onclick="window.open('https://www.paypal.com/cgi-bin/webscr?business=logap@me.com&cmd=_xclick&currency_code=HKD&item_name=HKEPC IR Development&return=http://blog.gaplotech.com/thanks', '_system', 'location=yes'); return false;" >
        <img style="display: block;margin: auto;" src="http://www.paypal.com/en_GB/i/btn/x-click-butcc-donate.gif" alt="">
      </a>
    </div>


  </ion-content>
</ion-view>
