<ion-view view-title="Chats">
  <div class="spinner">
    <ion-spinner class="spinner-balanced" icon="ripple" ng-show="vm.chats.length == 0"></ion-spinner>
  </div>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="chat in vm.chats"
                type="item-text-wrap"
                href="#/tab/chats/{{::chat.id}}">
        <img ng-src="{{::chat.avatarUrl}}">
        <span style="float:right"><small>{{::chat.date}}</small></span>
        <h2>{{::chat.username}}</h2>
        <p>{{::chat.summary}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
