<ion-view class="card-view">
  <ion-nav-title>
    <i class="ion-ios-star"> 我的最愛</i>
  </ion-nav-title>
  <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-ios-refresh-empty" ng-click="vm.doRefresh()"></a>
  </ion-nav-buttons>
  <ion-content lazy-scroll>
    <div class="text-center">
      <label class="item item-input w100">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="搜尋..." type="text" ng-model="vm.searchText" ng-change="vm.searchOnTextChange()">
      </label>
    </div>
    <div class="text-center" ng-if="vm.messages.length == 0">
      <h4 class="title">沒有任何我的最愛！</h4>
    </div>
    <div class="list card" ng-repeat="message in vm.messages track by message.id">

      <div class="item item-text-wrap item-divider">
        <a style="color:white" href="#/tab/likes/topics/{{::message.post.topicId}}/posts/{{::message.post.id}}/page/{{::message.post.page}}" compile="::message.post.title">
        </a>
        <span>#{{::message.pos}}</span>
      </div>

      <div class="item item-avatar">
        <img ng-src="{{::message.author.image}}">
        <button class="button button-icon ion-ios-arrow-down fright" ng-click="vm.onMore(message)"></button>

        <h2 ng-bind="::message.author.name"></h2>
        <p>{{::message.createdAt}}</p>
      </div>

      <div class="item item-body" compile="::message.content">
      </div>

    </div>
    <ion-infinite-scroll
        class="ispinner text-center"
        ng-if="vm.hasMoreData()"
        on-infinite="vm.loadMore()"
        spinner="android"
        immediate-check="false"
        distance="7%">
    </ion-infinite-scroll>
    <div class="text-center" ng-if="vm.end">
      <h4 class="title">完</h4>
    </div>

    <div class="tab-bar-inset"></div>
  </ion-content>
</ion-view>

