<ion-view>
  <ion-nav-title>論壇版塊 <i class="ion-speedometer" style="color:#1560ff" ng-show="vm.cached"></i></ion-nav-title>
  <ion-nav-buttons side="right" style="float:right">
    <a class="button button-icon icon ion-ios-refresh-empty" ng-click="vm.doRefresh()"></a>
  </ion-nav-buttons>
  <ion-content on-touch="vm.onTouch()" on-release="vm.onRelease()">
    <div class="spinner">
      <ion-spinner class="spinner-balanced" icon="ripple" ng-show="vm.topics.length == 0"></ion-spinner>
    </div>
    <ion-list>
      <span ng-repeat="topic in vm.topics track by $index">
        <div ng-if="::topic.groupName" ng-show="::vm.canShowGroupNameIniOSReview(topic.groupName)" class="item item-divider" ng-bind="::topic.groupName">
        </div>
        <ion-item
            ng-if="::!topic.groupName"
            ng-show="::vm.canShowSectionInIOSReview(topic.id)"
            ng-class-odd="'odd'" ng-class-even="'even'"
            class="item-remove-animate item-avatar item-icon-right "
            type="item-text-wrap"
            href="#/tab/topics/{{::topic.id}}/page/1">
          <img ng-src="{{::topic.image}}" ng-show="::vm.canShowIniOSReview(topic.id)"/>
          <h2 ng-bind="::topic.name"></h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
          <small style="color:#a0a0a0" ng-bind="::topic.description"></small>
        </ion-item>
      </span>

    </ion-list>
  </ion-content>
</ion-view>