<ion-view class="about-view" view-title="關於">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" ng-click="openDrawer()" ng-if="::(!isiOSNative && !isAndroidNative)"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="description">
            <img src="img/Icon.png" height="50" style="display: block; margin: -10px auto 5px auto"></div>
            <p>HKEPC IR Pro v3 是永久免費非官方的第三方瀏覧器。本程式不會記錄任何登入名稱或密碼，
                作者亦不會為本程式做成的直接或間接損失負上任何責任，用家需自行承擔風險，敬請留意！</p>
            <div class="update-notice">
                <a ng-if="isiOSNative" href="" target="_system"
                   onclick="window.open('https://apps.apple.com/hk/app/hkepc-ir-v4/id1478383428?l=en', '_system', 'location=yes'); return false;">
                    <div ng-if="vm.isPromote()">
                        <p>[限時優惠] 由即日至10月31日起，</p>
                        <p>$58 升級到 HKEPC IR Extreme v4 (原價 $68)</p>
                    </div>
                    <p ng-if="!vm.isPromote()" style="line-height: 32px">升級到 HKEPC IR Extreme v4</p>
                </a>
            </div>
        </div>

        <a class="item item-icon-left" href="#!/tab/about/version">
            <i class="icon ion-loop"></i>
            v3 更新日誌
            <span class="item-note">
              查看更新內容
            </span>
        </a>
        <a class="item item-icon-left" href="#!/tab/about/version-v4">
            <i class="icon ion-ios-loop-strong"></i>
            v4 更新日誌
            <span class="item-note">
              查看更新內容
            </span>
        </a>
        <a class="item item-icon-left" ng-click="vm.showProxyPopup()" ng-show="vm.isProxy()">
            <i class="icon ion-link"></i>
            Proxy 伺服器
            <span class="item-note">
            {{vm.proxy}}
          </span>
        </a>
        <a class="item item-icon-left" href="" ng-show="nativeVersion">
            <i class="icon ion-iphone"></i>
            App 版本
            <span class="item-note">
            {{nativeVersion}}
          </span>
        </a>
        <a class="item item-icon-left" href="">
            <i class="icon ion-ios-world-outline"></i>
            Web 內核版本
            <span class="item-note">
            {{::vm.version}}
          </span>
        </a>
        <a class="item item-icon-left" href="" target="_system"
           onclick="window.open('https://blog.gaplotech.com/about/', '_system', 'location=yes'); return false;">
            <i class="icon ion-ios-at"></i>
            關於作者
            <span class="item-note">
            Gap撈Tech
          </span>
        </a>
        <a class="item item-icon-left" href="" target="_system"
           onclick="window.open('https://github.com/gaplo917/hkepc-ionic-reader', '_system', 'location=yes'); return false;">
            <i class="icon ion-social-github"></i>
            GitHub
            <span class="item-note">
            HKEPC Ionic Reader
          </span>
        </a>
        <div class="tab-bar-inset"></div>
    </ion-content>
</ion-view>
