<ion-view class="card-view">
  <ion-nav-title>
    <i class="ion-ios-star"> 我的最愛</i>
  </ion-nav-title>
  <ion-nav-buttons side="right" >
    <a class="button button-icon icon ion-ios-plus-empty" ng-click="vm.onQuickReply(vm.post)"></a>
    <a class="button button-icon icon ion-ios-refresh-empty" ng-click="vm.doRefresh()"></a>
  </ion-nav-buttons>
  <ion-content lazy-scroll on-swipe-right="$ionicGoBack()">
    <div class="text-center">
      <label class="item item-input w100">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="搜尋..." type="text" ng-model="vm.searchText" ng-change="vm.searchOnTextChange()">
      </label>
    </div>
    <div class="spinner">
      <ion-spinner class="spinner-balanced" icon="ripple" ng-show="vm.messages.length == 0"></ion-spinner>
    </div>
    <div class="list card" ng-repeat="message in vm.messages track by message.id">
      <a href="#/tab/topics/{{::message.post.topicId}}/posts/{{::message.post.id}}/page/{{::message.post.page}}" class="item item-text-wrap item-divider" ng-bind="::message.post.title">
      </a>
      <div class="item item-avatar">
        <img src="{{::message.author.image}}">
        <i class="ion-ios-arrow-down fright" ng-click="vm.onMore(message)"></i>

        <h2 ng-bind="::message.author.name"></h2>
        <p>{{::message.createdAt}} <span class="fright">#{{::message.pos}}</span></p>
      </div>

      <div class="item item-body" compile="::message.content">
      </div>

    </div>
    <ion-infinite-scroll
        class="ispinner text-center"
        ng-if="vm.hasMoreData()"
        on-infinite="vm.loadMore()"
        spinner="ripple"
        immediate-check="false"
        distance="7%">
    </ion-infinite-scroll>
    <div class="text-center" ng-show="vm.end">
      <h4 class="title">完</h4>
    </div>
  </ion-content>
</ion-view>

