<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="論壇版塊" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/topics">
    <ion-nav-view name="tab-topics"></ion-nav-view>
  </ion-tab>

  <!-- Likes Tab -->
  <ion-tab title="我的最愛" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/tab/likes">
    <ion-nav-view name="tab-likes"></ion-nav-view>
  </ion-tab>

  <!-- Features Tab -->
  <ion-tab title="{{vm.login || '功能'}}" icon-off="ion-ios-infinite-outline" icon-on="ion-ios-infinite" href="#/tab/features"
           badge="vm.notification.pm + vm.notification.post" badge-style="badge-assertive">
    <ion-nav-view name="tab-features"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="關於" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>
</ion-tabs>
<link ng-if="vm.darkTheme === false" href="css/ionic.app.css" rel="stylesheet">
<link ng-if="vm.darkTheme === true" href="css/ionic.app.dark.css" rel="stylesheet">
<style ng-if="vm.isiOSNativeApp()">

    /*iphone 5*/
    @media only screen
    and (device-width : 320px)
    and (device-height : 568px)
    and (-webkit-device-pixel-ratio : 2) {
        .bar.bar-header{
            height: 66px;
        }
        .bar.bar-subheader{
            top:66px;
        }
        .bar.bar-header .title {
            top:20px;
        }
        .bar.bar-header > .buttons, .bar.bar-header > .button {
            margin-top: 20px;
        }
        .has-header {
            top: 66px;
        }
        .tab-nav {
            display: none;
        }

        .has-tabs, .bar-footer.has-tabs {
            bottom: 0px;
        }

        .tab-bar-inset{
            width: 100%;
            height: 7.8vh;
        }

        .action-sheet-wrapper {
            bottom: 7.8vh;
        }
    }

    /*iphone 6*/
    @media only screen
    and (device-width : 375px)
    and (device-height : 667px)
    and (-webkit-device-pixel-ratio : 2) {
        .bar.bar-header{
            height: 64px;
        }
        .bar.bar-subheader{
            top: 64px;
        }
        .bar.bar-header .title {
            top: 20px;
        }
        .bar.bar-header > .buttons, .bar.bar-header > .button {
            margin-top: 20px;
        }
        .has-header {
            top: 64px;
        }

        .tab-nav {
            display: none;
        }

        .has-tabs, .bar-footer.has-tabs {
            bottom: 0px;
        }

        .tab-bar-inset{
            width: 100%;
            height: 6.6vh;
        }

        .action-sheet-wrapper {
            bottom: 6.6vh;
        }
    }
    /*iphone 6plus Zoom */
    @media only screen
    and (device-width : 375px)
    and (device-height : 667px)
    and (-webkit-device-pixel-ratio : 3) {
        .bar.bar-header{
            height: 64px;
        }
        .bar.bar-subheader{
            top: 64px;
        }
        .bar.bar-header .title {
            top: 20px;
        }
        .bar.bar-header > .buttons, .bar.bar-header > .button {
            margin-top: 20px;
        }
        .has-header {
            top: 64px;
        }

        .tab-nav {
            display: none;
        }

        .has-tabs, .bar-footer.has-tabs {
            bottom: 0px;
        }

        .tab-bar-inset{
            width: 100%;
            height: 6.6vh;
        }

        .action-sheet-wrapper {
            bottom: 6.6vh;
        }
    }
    /*iphone 6plus Standard*/
    @media only screen
    and (device-width : 414px)
    and (device-height : 736px)
    and (-webkit-device-pixel-ratio : 3) {
        .bar.bar-header{
            height: 64px;
        }
        .bar.bar-subheader{
            top: 64px;
        }
        .bar.bar-header .title {
            top: 20px;
        }
        .bar.bar-header > .buttons, .bar.bar-header > .button {
            margin-top: 20px;
        }
        .has-header {
            top: 64px;
        }
        .tab-nav {
            display: none;
        }

        .has-tabs, .bar-footer.has-tabs {
            bottom: 0px;
        }

        .tab-bar-inset{
            width: 100%;
            height: 6vh;
        }

        .action-sheet-wrapper {
            bottom: 6vh;
        }
    }

    /*iPhone X*/
    @media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {
        body {
            top: 64px;
        }
        .bar.bar-header{
            height: 64px;
        }
        .bar.bar-subheader{
            top:64px;
        }
        .bar.bar-header .title {
            top:20px;
        }
        .bar.bar-header > .buttons, .bar.bar-header > .button {
            margin-top: 20px;
        }
        .has-header {
            top: 64px;
        }

        .tab-nav {
            display: none;
        }

        .has-tabs, .bar-footer.has-tabs {
            bottom: 0px;
        }

        .tab-bar-inset{
            width: 100%;
            height: 9.6vh;
        }

        .action-sheet-wrapper {
            bottom: 9.6vh;
        }
    }
    /*ipad 1024*768*/
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)  {
        .tab-nav {
            display: none;
        }

        .has-tabs, .bar-footer.has-tabs {
            bottom: 0px;
        }

        .tab-bar-inset{
            width: 100%;
            height: 44px;
        }

        .action-sheet-wrapper {
            bottom: 44px;
        }
    }

</style>