<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Topics" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/topics">
    <ion-nav-view name="tab-topics"></ion-nav-view>
  </ion-tab>

  <!-- Likes Tab -->
  <ion-tab title="Likes" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/tab/likes">
    <ion-nav-view name="tab-likes"></ion-nav-view>
  </ion-tab>

  <!-- Features Tab -->
  <ion-tab title="{{vm.login || 'Features'}}" icon-off="ion-ios-infinite-outline" icon-on="ion-ios-infinite" href="#/tab/features"
           badge="vm.notification.pm + vm.notification.post" badge-style="badge-assertive">
    <ion-nav-view name="tab-features"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="About" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
