<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-nav-bar id="ion-nav-bar" class="bar-stable">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-thin-left" ng-click="onBack()" ng-if="isRendered && isiOSNative"></button>
        <button class="button button-icon icon ion-navicon" ng-click="openDrawer()" ng-if="isRendered && isAndroidNative"></button>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-nav-view name="main"></ion-nav-view>

<link ng-if="vm.darkTheme !== null && vm.darkTheme === 'default'" href="css/ionic.app.css" rel="stylesheet">
<link ng-if="vm.darkTheme !== null && vm.darkTheme === 'dark'" href="css/ionic.app.dark.css" rel="stylesheet">
<link ng-if="vm.darkTheme !== null && vm.darkTheme === 'oled'" href="css/ionic.app.oled.dark.css" rel="stylesheet">
<style ng-if="isAndroidNative">
    .bar.bar-header {
        height: 59px;
    }

    .bar.bar-subheader {
        top: 59px;
    }

    .bar.bar-header .title {
        top: 15px;
    }

    .bar.bar-header > .buttons, .bar.bar-header > .button {
        margin-top: 15px;
    }

    .has-header {
        top: 59px;
    }

    .tab-nav {
        display: none;
    }

    .has-tabs, .bar-footer.has-tabs {
        bottom: 0px;
    }

    .action-sheet-wrapper {
        bottom: 7.8vh;
    }

    .tab-bar-inset {
        width: 100%;
        height: 7.8vh;
    }
</style>
<style ng-if="isiOSNative">

    .bar.bar-header {
        height: 59px;
    }

    .bar.bar-subheader {
        top: 59px;
    }

    .bar.bar-header .title {
        top: 15px;
    }

    .bar.bar-header > .buttons, .bar.bar-header > .button {
        margin-top: 15px;
    }

    .has-header {
        top: 59px;
    }

    .tab-nav {
        display: none;
    }

    .has-tabs, .bar-footer.has-tabs {
        bottom: 0px;
    }

    /*iphone 5*/
    @media only screen
    and (device-width: 320px)
    and (device-height: 568px)
    and (-webkit-device-pixel-ratio: 2) {

        .tab-bar-inset {
            width: 100%;
            height: 7.8vh;
        }

        .action-sheet-wrapper {
            bottom: 7.8vh;
        }
    }

    /*iphone 6*/
    @media only screen
    and (device-width: 375px)
    and (device-height: 667px)
    and (-webkit-device-pixel-ratio: 2) {

        .tab-bar-inset {
            width: 100%;
            height: 6.6vh;
        }

        .action-sheet-wrapper {
            bottom: 6.6vh;
        }
    }

    /*iphone 6plus Zoom */
    @media only screen
    and (device-width: 375px)
    and (device-height: 667px)
    and (-webkit-device-pixel-ratio: 3) {

        .tab-bar-inset {
            width: 100%;
            height: 6.6vh;
        }

        .action-sheet-wrapper {
            bottom: 6.6vh;
        }
    }

    /*iphone 6plus Standard*/
    @media only screen
    and (device-width: 414px)
    and (device-height: 736px)
    and (-webkit-device-pixel-ratio: 3) {

        .tab-bar-inset {
            width: 100%;
            height: 6vh;
        }

        .action-sheet-wrapper {
            bottom: 6vh;
        }
    }

    /*iPhone X/ XS*/
    @media only screen
    and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-device-pixel-ratio: 3) {
        body {
            top: 74px;
        }

        .bar.bar-header {
            height: 74px;
        }

        .bar.bar-subheader {
            top: 74px;
        }

        .bar.bar-header .title {
            top: 30px;
        }

        .bar.bar-header > .buttons, .bar.bar-header > .button {
            margin-top: 30px;
        }

        .has-header {
            top: 74px;
        }

        .tab-nav {
            display: none;
        }

        .has-tabs, .bar-footer.has-tabs {
            bottom: 0px;
        }

        .tab-bar-inset {
            width: 100%;
            height: 9.6vh;
        }

        .action-sheet-wrapper {
            bottom: 9.6vh;
        }
    }

    /*iPhone XS Max*/
    @media only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 3) {
        body {
            top: 74px;
        }

        .bar.bar-header {
            height: 74px;
        }

        .bar.bar-subheader {
            top: 74px;
        }

        .bar.bar-header .title {
            top: 30px;
        }

        .bar.bar-header > .buttons, .bar.bar-header > .button {
            margin-top: 30px;
        }

        .has-header {
            top: 74px;
        }

        .tab-nav {
            display: none;
        }

        .has-tabs, .bar-footer.has-tabs {
            bottom: 0px;
        }

        .tab-bar-inset {
            width: 100%;
            height: 9.6vh;
        }

        .action-sheet-wrapper {
            bottom: 9.6vh;
        }
    }

    /*iPhone XR*/
    @media only screen
    and (device-width: 414px)
    and (device-height: 896px)
    and (-webkit-device-pixel-ratio: 2) {
        body {
            top: 74px;
        }

        .bar.bar-header {
            height: 74px;
        }

        .bar.bar-subheader {
            top: 74px;
        }

        .bar.bar-header .title {
            top: 30px;
        }

        .bar.bar-header > .buttons, .bar.bar-header > .button {
            margin-top: 30px;
        }

        .has-header {
            top: 74px;
        }

        .tab-nav {
            display: none;
        }

        .has-tabs, .bar-footer.has-tabs {
            bottom: 0px;
        }

        .tab-bar-inset {
            width: 100%;
            height: 9.6vh;
        }

        .action-sheet-wrapper {
            bottom: 9.6vh;
        }
    }

    /*ipad 1024*768*/
    @media only screen
    and (device-width: 768px)
    and (device-height: 1024px) {
        .tab-bar-inset {
            width: 100%;
            height: 7.7vh;
        }

        .action-sheet-wrapper {
            bottom: 7.7vh;
        }
    }

</style>
<style ng-if="vm.mHeadFix">
    body {
        top: 90px;
    }

    .bar.bar-header {
        height: 90px;
    }

    .bar.bar-subheader {
        top: 90px;
    }

    .bar.bar-header .title {
        top: 46px;
    }

    .bar.bar-header > .buttons, .bar.bar-header > .button {
        margin-top: 46px;
    }

    .has-header {
        top: 90px;
    }
</style>