<ion-view class="post-list-view" >
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-ios-arrow-thin-left" ng-click="::vm.onBack()"></button>
  </ion-nav-buttons>

  <ion-nav-title ng-click="openPopover($event)">{{::vm.topic.name}} <i class="ion-android-arrow-dropdown" ng-show="vm.subTopicList.length > 0"></i></ion-nav-title>
  <ion-nav-buttons side="right">
    <a ng-if="vm.topic.name" class="button button-icon icon ion-ios-plus-empty" ng-click="vm.doNewPost(vm.topic)"></a>
    <a class="button button-icon icon ion-ios-refresh-empty" ng-click="::vm.doRefresh()"></a>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
    <a class="button button-icon icon ion-bonfire"
       ng-click="vm.showSticky = !vm.showSticky; vm.saveShowSticky(vm.showSticky)"
       ng-class="vm.showSticky ? 'icon-on': 'icon-off'">
    </a>
    <h2 class="title" ng-show="vm.totalPageNum">
      第 {{vm.pointingPage == 0 ? 1 : vm.currentPageNum}} 頁 / 共 {{::vm.totalPageNum}} 頁
    </h2>
    <a ng-if="vm.topic.name" class="button button-icon icon ion-ios-more" ng-click="::vm.doFilterOrder($event)"></a>

  </div>
  <ion-content lazy-scroll on-swipe-right="vm.onBack()">
    <div class="spinner" ng-if="vm.posts.length == 0" >
      <ion-spinner
          class="spinner"
          icon="android">
      </ion-spinner>
    </div>

      <div style="padding-top:44px;">

          <ion-item
                  ng-class-odd="'odd'" ng-class-even="'even'"
                  class="item-icon-right item-text-wrap"
                  ng-repeat="post in vm.posts track by $index"
                  ng-if="(post.topicId == 'search' || post.topicId == 'latest' || (vm.showSticky && post.isSticky || !post.isSticky))"
                  ng-click="::vm.onGoToPost(post)"
                  href="#/tab/topics/{{::post.topicId}}/posts/{{::post.id}}/page/1"
                  id="post-{{::post.id}}"
                  page="{{::post.pageNum}}"
                  lastread
          >
              <h2 class="bigger-title">{{post.name}} <a ng-show="post.tag"><small class="tag">#{{post.tag}}</small></a></h2>
              <div>
                  <i class="ion-bonfire" ng-show="::post.isSticky"></i>
                  <i class="ion-ios-locked" ng-if="::post.isLock" ng-style="post.isRead && {'color' : '#8BC34A'}"></i>
                  <i class="ion-ios-eye" ng-if="::post.isRead" ng-style="post.isRead && {'color' : '#8BC34A'}"></i>
                  <span class="less-important-info ion-person"> {{::post.author.name}}</span>
                  <span class="fright less-important-info" >{{::post.count.reply}} / {{::post.count.view}}</span>
              </div>
              <div>
                  <span class="less-important-info">{{::vm.relativeMomentize(post.lastPost.timestamp)}} @ {{::post.lastPost.name}}</span>

              </div>

              <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>

      </div>


      <ion-infinite-scroll
              class="ispinner text-center"
              ng-if="vm.posts.length > 0"
              on-infinite="vm.loadMore()"
              spinner="android"
              immediate-check="true"
              distance="10%">
      </ion-infinite-scroll>

  </ion-content>
</ion-view>