<ion-view class="post-list-view" ng-init="vm.slidePages=[{},{},{}];" on-swipe-right="vm.swipeLeft()">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-ios-arrow-thin-left" ng-click="vm.onBack()"></button>
  </ion-nav-buttons>

  <ion-nav-title ng-click="openPopover($event)">{{::vm.topic.name}} <i class="ion-android-arrow-dropdown" ng-show="vm.subTopicList.length > 0"></i></ion-nav-title>
  <ion-nav-buttons side="right">
    <a ng-if="vm.topic.name" class="button button-icon icon ion-ios-plus-empty" ng-click="vm.doNewPost(vm.topic)"></a>
    <a ng-if="vm.topic.name" class="button button-icon icon ion-ios-refresh-empty" ng-click="vm.doRefresh()"></a>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
    <h2 class="title" ng-show="vm.totalPageNum">
      <i class="icon ion-bonfire"
         ng-click="vm.showSticky = !vm.showSticky; vm.saveShowSticky(vm.showSticky)"
         ng-show="vm.hasStickyPost(vm.slidePages[vm.currentIndex].posts)"
         ng-class="vm.showSticky ? 'icon-on': 'icon-off'">
      </i>
      第 {{vm.slidePages[vm.currentIndex].num || vm.currentPageNum + 1}} 頁 / 共 {{::vm.totalPageNum}} 頁</h2>
    <a class="button button-icon icon ion-ios-more" ng-click="::vm.doFilterOrder($event)"></a>

  </div>
  <ion-content>
    <div class="spinner">
      <ion-spinner
          class="spinner"
          icon="android"
          ng-show="vm.showSpinner">
      </ion-spinner>
    </div>

    <ion-slide-box id="ionic-slide-box" delegate-handle="posts-slidebox-{{::vm.topicId}}" on-slide-changed="vm.onSlideChanged($index)" does-continue="false" show-pager="false" >

      <ion-slide ng-repeat="page in vm.slidePages track by $index">
        <ion-list >
          <ion-item
              ng-class-odd="'odd'" ng-class-even="'even'"
              class="item-icon-right item-text-wrap"
              ng-repeat="post in page.posts"
              ng-show="post.topicId == 'latest' || (vm.showSticky && post.isSticky || !post.isSticky)"
              ng-click="::vm.onGoToPost(post)"
              href="#/tab/topics/{{::post.topicId}}/posts/{{::post.id}}/page/1">
            <h2 class="bigger-title">{{::post.name}} <a ng-show="::post.tag"><small class="tag">#{{::post.tag}}</small></a></h2>
            <div>
              <i class="ion-bonfire" ng-show="::post.isSticky"></i>
              <i class="ion-ios-eye" ng-style="::post.isRead && {'color' : '#8BC34A'}"></i>
              <small class="less-important-info ion-person"> {{::post.author.name}}</small>
              <small class="fright less-important-info" >{{::post.count.reply}} / {{::post.count.view}}</small>
            </div>
            <div>
              <small class="less-important-info">{{::vm.relativeMomentize(post.lastPost.timestamp)}} @ {{::post.lastPost.name}}</small>

            </div>

            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>

          <ion-item
              ng-show="page.posts.length >= 10"
          >
            <button class="button col-40 fleft button-full"
                    ng-show="vm.slidePages[vm.currentIndex].num > 1"
                    ng-click="vm.ionicSlideBoxDelegate.previous()" >
              <i class="icon ion-ios-arrow-thin-left"></i>上一頁</button>
            <span class="col-20"></span>
            <button class="button col-40 fright button-full" ng-click="vm.ionicSlideBoxDelegate.next()">下一頁 <i class="icon ion-ios-arrow-thin-right"></i></button>
          </ion-item>
        </ion-list>
      </ion-slide>

    </ion-slide-box>

  </ion-content>
</ion-view>