<ion-view class="card-view">
    <ion-nav-title>
        {{ vm.message.post.title }}
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button-default" ng-click="vm.doReply(vm.reply)">發佈</button>
    </ion-nav-buttons>
    <ion-content>
        <div ng-if="vm.existingImages.length > 0" class="super-less-important-info text-center padding-top">
            點擊加入圖片 - 長按刪除圖片（提交修改才能生效)
        </div>
        <!--TODO: Refactor to scss-->
        <div style="overflow: auto;white-space: nowrap;">
            <div style="width:70px;height: 70px;display: inline-block;"
                 ng-repeat="eImage in vm.existingImages track by $index"
                 on-long-press="vm.confirmDeleteImage(eImage)"
                 on-short-press="vm.addImageToContent(eImage)"
            >
                <img style="height: 70px; display:block; margin: auto" ng-src="{{eImage.src}}">
                <span class="less-important-info" style="text-align: center;display: block;"> {{eImage.id}}</span>
            </div>
        </div>
        <ion-list>
            <div class="item item-divider" style="text-align: center;">
                回覆類別
            </div>
            <div class="row" style="padding:0;">
                <ion-radio style="width:34%" ng-model="vm.reply.type" ng-value="1"><i class="icon ion-compose"></i> 無
                </ion-radio>
                <ion-radio style="width:34%" ng-model="vm.reply.type" ng-value="2"><i class="icon ion-reply"></i> 回覆
                </ion-radio>
                <ion-radio style="width:34%" ng-model="vm.reply.type" ng-value="3"><i class="icon ion-quote"></i> 引用
                </ion-radio>
            </div>
        </ion-list>

        <input-helper ng-if="vm.reply" modal='vm' content-model='vm.reply.content'
                      on-image-upload="vm.onImageUpload"></input-helper>

        <textarea id="reply-content"
                  placeholder="請輸入文字"
                  ng-model="vm.reply.content"
                  style="width: 100%;height: 50%; padding: 20px;"
        ></textarea>
        <div class="tab-bar-inset"></div>

    </ion-content>
</ion-view>

