<ion-view class="card-view">
  <ion-nav-title>
      {{ vm.topic.name }}
  </ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-ios-arrow-thin-left" ng-click="vm.onBack()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="button-default" ng-click="vm.doPublishNewPost(vm.post)">發佈</button>
  </ion-nav-buttons>
  <ion-content on-swipe-right="vm.onBack()">

      <div ng-if="vm.existingImages.length > 0" class="super-less-important-info text-center padding-top" >
          點擊加入圖片 - 長按刪除圖片（提交修改才能生效)
      </div>
      <!--TODO: Refactor to scss-->
      <div style="overflow: auto;white-space: nowrap;">
          <div style="width:100px;height: 100px;display: inline-block;"
               ng-repeat="eImage in vm.existingImages track by $index"
               on-long-press="vm.confirmDeleteImage(eImage)"
               on-short-press="vm.addImageToContent(eImage)"
          >
              <img style="height: 100px; padding:10px;" ng-src="{{eImage.src}}">
              <span class="less-important-info" style="text-align: center;display: block;"> {{eImage.id}}</span>
          </div>
      </div>

      <ion-list>
          <div ng-show="vm.categories.length > 0" class="item item-divider" style="text-align: center" ng-click="vm.openCategoryPopover($event)">
              {{vm.post.category.name || '新帖類別'}} <i class="ion-android-arrow-dropdown" ></i>
          </div>
      </ion-list>

      <input-helper modal="vm" content-model="vm.post.content" on-image-upload="vm.onImageUpload"></input-helper>

      <div class="row">
          <div class="col">
              <label class="item item-input" style="width:100%">
                  <input placeholder="請輸入標題" type="text" ng-model="vm.post.title">
              </label>
          </div>
      </div>

      <textarea id="new-content"
                placeholder="請輸入文字"
                ng-model="vm.post.content"
                style="width: 100%;height: 50%; padding: 20px;"
      ></textarea>

      <div class="tab-bar-inset"></div>

  </ion-content>
</ion-view>

