@import "variables";

.chats-view {

  /* allows the bar-footer to be elastic /*
  /* optionally set a max-height */
  /* maxlength on the textarea will prevent /*
  /* it from getting too large also */
  .bar-footer {
    overflow: visible !important;
    textarea {
      resize: none;
      height: 25px;
    }
  }

  /* fixes an ios bug bear */
  button.ion-android-send {
    padding-top: 2px;
  }

  /* add this to keep your footer buttons down
  at the bottom as the textarea resizes */
  .footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px;
  }

  .footer-btn {
    position: absolute !important;
    bottom: 0;
  }

  img {
    &.profile-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      bottom: 10px;
      &.left {
        left: 10px;
      }

      &.right {
        right: 10px;
      }
    }
  }

  .message {
    font-size: 14px;
  }

  .message-detail {
    white-space: nowrap;
    font-size: 14px;
  }

  .bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
  }

  .message-wrapper {
    position: relative;
  }

  .message-wrapper:last-child {
    margin-bottom: 10px;
  }

  .chat-bubble {
    :before {
      content: "\00a0";
      display: block;
      height: 16px;
      width: 9px;
      position: absolute;
      bottom: -7.5px;
    }
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
    * {
      -moz-user-select: text;
      -webkit-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }

    &.left {
      background-color: #e6e5eb;
      float: left;
      margin-left: 55px;

      :before {
        background-color: #e6e5eb;
        left: 10px;
        -webkit-transform: rotate(70deg) skew(5deg);
      }
    }

    &.right {
      background-color: $epc-color;
      color: #fff;
      float: right;
      margin-right: 55px;
      :before {
        background-color: $epc-color;
        right: 10px;
        -webkit-transform: rotate(118deg) skew(-5deg);
      }
    }
  }


  input, textarea, .item-input, .item-input-wrapper {
    background-color: #f4f4f4 !important;
  }

  .bold {
    font-weight: bold;
  }

  .cf {
    clear: both !important;
  }

  font[color="Silver"]{
    color:white;
  }
}
