@import "variables";

.feature-view {
  ion-content {
    background-color: #eeeeee;

  }

  .inner-icon {
    font-size:28px;
    color:white;

    padding:4px 9px;
    border-radius:10px;
  }

  .list-right-arrow {
    position:absolute;
    left:initial;
    width:20px;
    right:20px;
  }
}