// normal page spinner
div{
  &.spinner {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 20px;
    text-align: center;

  }
}

// infinity spinner
.ispinner {
  .spinner {
    stroke: $spinner-color;
    fill: $spinner-color;
  }
}