//////////////////////////black theme///////////////////
// common color
$border-color: #353535;
$epc-color: darken(#8fc320,20%);
$text-on-epc-color: #fff;
$bg-color: #222;
$header-bg-color: #282828;
$odd-color: #2b2b2b;
$even-color: #222;
$inner-icon-color: #fff;
// text color
$text-color: #ffffff;
$less-important-color: #777;
$activated-color: #444;
$tab-item-stoke-color: #999;

$default-button-bg-color: #333;
$default-button-font-color: #fff;

//popover
$popover-bg-color: lighten($bg-color,10%);


// spinner
$spinner-color: #8fc320;

// item-divider
$item-divider-bg-color: $epc-color;
$item-divider-font-color: $text-on-epc-color;

// card view
$liked-color: #dd0000;
$locked-dash-line: #FF9A9A;
$blockquote-color: #8fc320;
$card-holder-bg-color: #eee;
$card-bg-color: #2b2b2b;

// ng toast


// chart view
$left-bubble-bg-color: #FAFAFA;
$right-bubble-bg-color: #8BC34A;
$signature-color: #444444;
$chat-input-bg-color: #444;

// post list view
$hot-topic-icon-color: #FF6D00;
