.account-view {
  .selectable {
    position: relative;
    height: 36px;
    width: 170px;
  }
  .selectable:after {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: $text-color;
    content: '';
    pointer-events: none;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 100%;
    border: none;
    background: lighten($bg-color, 10%);
    color: $text-color;
    text-indent: 0.01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: ltr;
  }
}
