// only for cardholder
.card-view {
  background-color: $card-holder-bg-color;

  .list {
    margin: 0;
  }

  .page-divider {
    margin: 0 0 0 0;
    text-align: center;
  }

  .image-loader-container {
    border:0;
  }

  .on-more-button {
    color: $tab-item-stoke-color;
    position: absolute;
    right: 10px;
    top: 2px;
  }

  .title {
    color: $text-color;
    padding: 0 20px;
  }

  .f5-button, .page-divider, .card {
    margin: 15px 0 0 0;
  }

  .card {
    background-color: $card-bg-color;

    .filter-reason {
      display: none;
      color: $less-important-color;
      line-height: 32px;
      margin-left: 16px;
    }

    &.partial-hide {
      height: 32px;
      > * {
        display: none;
      }
      .filter-reason {
        display: initial;
      }
    }

    .card-button {
      color: $tab-item-stoke-color;
    }

    .active-liked {
      color: $liked-color;
    }

    td,p,tr {
      color: $text-color;
    }

    .item {
      background-color:$card-bg-color;
      border-color: $border-color;
      &.tabs {
        background-image: linear-gradient(0deg, $border-color, $border-color 50%);
        margin-top: -20px;
        height: 40px;
        .tab-item .icon:before {
          font-size: 20px;
          line-height: 40px;
        }

        .card-button {
          line-height: 40px;
        }
      }

      &.item-divider {
        background-color:$epc-color;
      }
    }

    .list-inset {
      margin: 15px 0;
    }

    // mainly for epc content
    .item-body {
      border: 0;
      padding-top: 0;
      padding-bottom: 20px;

      span {
        color: $text-color;
      }
      // the last edit timestamp
      .pstatus {
        display: block;
        height: 32px;
        text-align: center;
        font-style: normal;
        color: $less-important-color;
        font-size: $font-size-small;
      }

      // the lock status
      .locked {
        margin: 10px 0;
        width: 100%;
        padding: 8px 8px 8px 24px;
        border: 1px dashed $locked-dash-line;
        color: $less-important-color;
        font-size: $font-size-small;
      }


      table {  width: 100%;  }

      .lazy-loading-container {
        position: relative;
        width: 100%;
        min-height: 100px;
        .spinner-container {
          width:100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          z-index: 0;
        }
        img {
          position: relative;
          z-index: 1;
        }
      }
      img:not([src$=".gif"]){
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        max-width: 400px;
        margin-top:5px;
        text-align: center;
      }

      img[src$=".gif"]{
        height:auto;
        max-width: 100%;
        width:auto!important;
        background-color: #fff;
        border-radius: 20px;
      }

      iframe {
        max-width: 100%;
        margin:auto;
        display:block;
      }

      *{
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
        user-select: text;
      }

      blockquote {
        border-left: 5px solid $blockquote-color;
        .message-resolve {
          color: $less-important-color;
        }
        a, .message-resolve {
          text-decoration: none;
        }
      }

      font[size="7"]{
        line-height:1.6em;
      }

      font[size="6"]{
        line-height:1.4em;
      }

      font[size="5"]{
        line-height:1.2em;
      }
    }

    .ads {
      img,iframe {
        margin:auto;
        display:block;
      }
    }

  }

}
