.post-list-view {

  .last-description{
    color:$less-important-color
  }

  .odd > a{
    background-color: $odd-color
  }

  .even > a{
    background-color: $even-color
  }

  .bar.bar-subheader{
    background-color: $epc-color;

    .title {
      color: $text-on-epc-color;
    }
    .icon.ion-bonfire {
      float:left;
      font-size: floor($font-size-large * 1.8);

      &.icon-on{
        color:$hot-topic-icon-color-on;
      }
      &.icon-off{
        color: $hot-topic-icon-color-off;
      }
    }

    .icon.ion-ios-more{
      color:$text-on-epc-color;
    }
  }

  ion-slide {
    padding-top:36px
  }

  .tag {
    font-size:$font-size-small;
  }

  .less-important-info{
    color: $less-important-color;
  }

  .ion-bonfire{
    color:$hot-topic-icon-color-on;
  }


  .item {
    border-color: $border-color;
    background-color: $bg-color;

  }

  .ion-ios-locked{
    color: $danger-text-color;
  }
}