.post-list-view {

  .last-description {
    color: $less-important-color
  }

  .odd > a {
    background-color: $odd-color
  }

  .even > a {
    background-color: $even-color
  }

  .bar.bar-subheader {
    background-color: $epc-color;

    .title {
      color: $text-on-epc-color;
      width: calc(100% - 112px);
      margin-left: 56px;
      overflow-x: auto;
      padding: 0 calc(33.3% - 16px);
      -webkit-overflow-scrolling: touch;

      .topic-btn {
        border-radius: 32px;
        background-color: transparent;
        border: 1px solid white;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        padding: 0 12px;
        height: auto;
        margin: 8px 8px;
        min-height: unset;
        line-height: 24px;

        &.active {
          background-color: #fff;
          color: #000;
        }
      }
    }

    .icon.ion-bonfire {
      float: left;
      font-size: floor($font-size-large * 1.8);

      &.icon-on {
        color: $hot-topic-icon-color-on;
      }

      &.icon-off {
        color: $hot-topic-icon-color-off;
      }
    }

    .icon.ion-ios-more {
      color: $text-on-epc-color;
    }
  }

  ion-slide {
    padding-top: 36px
  }

  .tag {
    font-size: $font-size-small;
  }

  .less-important-info {
    color: $less-important-color;
  }

  .ion-bonfire {
    color: $hot-topic-icon-color-on;
  }


  .item {
    border-color: $border-color;
    background-color: $bg-color;
    border: 0;

    .filter-reason {
      display: none;
      color: $less-important-color;
    }

    &.partial-hide {
      .item-content {
        height: 48px;
        > * {
          display: none;
        }
        .filter-reason {
          display: initial;
        }
      }
    }

    &.complete-hide {
      display: none;
    }

    .item-content {
      padding: 15px;
    }

    .reply-view-count {
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 10%;
      height: 100%;
    }
  }

  .ion-ios-locked {
    color: $danger-text-color;
  }
}
