.topics-view {

  .reminder {
    color:$less-important-color
  }

  .last-description{
    color: $less-important-color
  }

  .odd > a{
    background-color: $odd-color
  }

  .even > a{
    background-color: $even-color
  }

  .topic-icon{
    background-color: #ffffff;
  }

  .item {
    border-color: $border-color;
  }
}