.topics-view {
  .reminder {
    color: $less-important-color;
  }

  .last-description {
    color: $less-important-color;
  }

  .odd > a {
    background-color: $odd-color;
  }

  .even > a {
    background-color: $even-color;
  }

  .topic-icon {
    background-color: #ffffff;
  }

  .item {
    border-color: $border-color;

    // this is for `...` work around
    color: $less-important-color;
  }

  // My Topic edit mode
  .odd {
    &.editable-item,
    .item-reorder,
    .item-delete {
      background-color: $odd-color;
      padding: 0;
    }
  }

  .even {
    &.editable-item,
    .item-reorder,
    .item-delete {
      background-color: $even-color;
      padding: 0;
    }
  }

  .item-delete {
    margin-left: 5px;
  }

  .item-reorder > .edit-plus-one {
    color: $sub-epc-color;
  }

  .item-delete > .edit-minus-one {
    color: $danger-text-color;
  }

  .item-reorder .button.icon,
  .item-reorder .input-helper .icon.flow-button,
  .input-helper .item-reorder .icon.flow-button {
    font-size: 24px;
  }
}
