.topics-view {

  .reminder {
    color:$less-important-color
  }

  .last-description{
    color: $less-important-color
  }

  .odd > a{
    background-color: $odd-color
  }

  .even > a{
    background-color: $even-color
  }

  .topic-icon{
    background-color: #ffffff;
  }

  .item {
    border-color: $border-color;
  }

  .my-topic {
    .my-topic-item:after {
      // right angle triangle on left-top
      //position: absolute;
      //top: 0;
      //left: 1px;
      //width: 0;
      //height: 0;
      //border-top: 6px solid $sub-epc-color;
      //border-right: 6px solid transparent;
      //color: $sub-epc-color;
      //content: "";
      //pointer-events: none;
      //z-index: 100;
    }
  }
}