<ion-view class="chats-view">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-paperplane-outline" ng-click="vm.onNewMessage()">
        </a>
        <a class="button button-icon icon ion-ios-refresh-empty" ng-click="vm.doRefresh()"></a>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>{{::vm.sender.username}}</span>
    </ion-nav-title>

    <div class="spinner" ng-if="vm.messages.length == 0">
        <ir-spinner></ir-spinner>
    </div>

    <ion-content has-bouncing="true" class="has-header" lazy-scroll>
        <div class="spinner" ng-if="vm.messages.length == 0">
            <ir-spinner></ir-spinner>
        </div>

        <div ng-repeat="message in vm.messages" class="message-wrapper">

            <div ng-if="::!message.isSelf">

                <img class="profile-pic left" ng-src="{{::message.avatarUrl}}"/>

                <div class="chat-bubble left">

                    <div class="message" ng-bind-html="::message.content">
                    </div>

                    <div class="message-detail">
                        <span class="bold">{{::message.username}}</span> -
                        <small ng-bind="::message.date"></small>
                    </div>

                </div>
            </div>

            <div ng-if="::message.isSelf">

                <img class="profile-pic right"
                     ng-src="{{::message.avatarUrl}}"/>

                <div class="chat-bubble right">

                    <div class="message" compile="::message.content">
                    </div>

                    <div class="message-detail">
                        <span class="bold">{{::message.username}}</span> -
                        <small ng-bind="::message.date"></small>
                    </div>

                </div>

            </div>

            <div class="cf"></div>

        </div>

        <div class="tab-bar-inset"></div>
    </ion-content>
</ion-view>
