<ion-view class="chats-view">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-refresh-empty" ng-click="vm.doRefresh()"></a>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>{{vm.recipient.username}}</span>
    </ion-nav-title>


    <ion-content has-bouncing="true" class="has-header" lazy-scroll>

        <div class="spinner" ng-if="vm.messages == null">
            <ir-spinner></ir-spinner>
        </div>

        <div ng-repeat="message in vm.messages" class="message-wrapper">

            <div ng-if="::!message.isSelf">

                <img class="profile-pic left" ng-src="{{::message.avatarUrl}}"/>

                <div class="chat-bubble left">

                    <div class="message" ng-bind-html="::message.content">
                    </div>

                    <div class="message-detail">
                        <span class="bold">{{::message.username}}</span> -
                        <small ng-bind="::message.date"></small>
                    </div>

                </div>
            </div>

            <div ng-if="::message.isSelf">

                <img class="profile-pic right"
                     ng-src="{{::message.avatarUrl}}"/>

                <div class="chat-bubble right">

                    <div class="message" compile="::message.content">
                    </div>

                    <div class="message-detail">
                        <span class="bold">{{::message.username}}</span> -
                        <small ng-bind="::message.date"></small>
                    </div>

                </div>

            </div>

            <div class="cf"></div>

        </div>
        <div style="height:88px"></div>
        <div class="tab-bar-inset"></div>
    </ion-content>
    <div class="floating-input-bar" ng-if="vm.messages != null">
        <div class="item item-input-inset">
            <div class="item-input-wrapper">
              <textarea placeholder="訊息"
                        ng-focus="vm.setIsFocused(true)"
                        ng-blur="vm.setIsFocused(false)"
                        ng-model="vm.messageInput"
              ></textarea>
            </div>
            <button class="button icon ion-ios-paperplane-outline button-assertive"
                    ng-click="vm.onSendMessage()">
            </button>
        </div>
        <div class="tab-bar-inset" ng-if="!vm.isFocused"></div>
    </div>
</ion-view>
