<ion-view view-title="Chats">
  <div class="spinner">
    <ion-spinner class="spinner-balanced" icon="ripple" ng-show="vm.chats.length == 0"></ion-spinner>
  </div>
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-ios-arrow-thin-left" ng-click="vm.onBack()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-refresh-empty" ng-click="vm.doRefresh()"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="chat in vm.chats track by $index"
                type="item-text-wrap"
                href="#/tab/features/chats/{{::chat.id}}">
        <img ng-src="{{::chat.avatarUrl}}">
        <span style="float:right"><small>{{::chat.date}}</small></span>
        <h2>{{::chat.username}}</h2>
        <p>{{::chat.summary}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-infinite-scroll
          class="ispinner text-center"
          ng-if="vm.hasMoreData()"
          on-infinite="vm.loadMore()"
          spinner="ripple"
          immediate-check="false"
          distance="7%">
      </ion-infinite-scroll>
    </ion-list>
  </ion-content>
</ion-view>
