<ion-view class="mypost-view">
    <ion-nav-title>我的帖子</ion-nav-title>
    <ion-content lazy-scroll>
        <div class="spinner" ng-if="vm.myposts.length == 0">
            <ir-spinner></ir-spinner>
        </div>
        <ion-list>
            <ion-item class="item item-icon-right" href="{{::mypost.post.url}}"
                      ng-repeat="mypost in vm.myposts track by $index"
                      ng-class-odd="'odd'" ng-class-even="'even'">
                <h2 class="item-text-wrap"><i class="ion-ios-locked" ng-show="::mypost.status == '關閉'"></i>
                    {{::mypost.post.title}}</h2>
                <div>
                    <small style="color:#999">#{{$index + 1}} {{::mypost.topic.title}}</small>
                    <small class="fright" style="color:#999">{{::mypost.lastpost.timestamp}} @
                        {{::mypost.lastpost.by}}
                    </small>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

        </ion-list>
        <ion-infinite-scroll
            class="ispinner text-center"
            ng-if="vm.hasMoreData()"
            on-infinite="vm.loadMore()"
            spinner="android"
            immediate-check="false"
            distance="7%">
        </ion-infinite-scroll>
    </ion-content>
    <page-indicator
        vm="vm"
        current-page="vm.page"
        total-page="vm.totalPageNum" />
</ion-view>

