<ion-view class="feature-view">
  <ion-nav-title>
    功能
  </ion-nav-title>
  <div class="spinner">
    <ion-spinner class="spinner-balanced" icon="ripple" ng-show="vm.chats.length == 0"></ion-spinner>
  </div>
  <ion-content>

    <div class="list card">

      <a href="#/tab/features/account" class="item item-icon-left">
        <div class="icon">
          <i class="ion-person-stalker inner-icon" style="background-color: #795548;"></i>
        </div>

        <div style="margin-left:10px">帳號管理</div>
        <i class="list-right-arrow icon ion-chevron-right icon-accessory"></i>
      </a>

    </div>

    <div class="list card">

      <a href="#/tab/features/chats" class="item item-icon-left">
        <div class="icon">
          <i class="ion-ios-email inner-icon" style="background-color: #2196F3;"></i>
        </div>

        <div style="margin-left:10px">私人訊息</div>
        <span ng-show="vm.notification.pm > 0" class="fright badge badge-assertive" >{{vm.notification.pm}}</span>
        <i class="list-right-arrow icon ion-chevron-right icon-accessory"></i>
      </a>

      <a href="#/tab/features/notifications" class="item item-icon-left">
        <div class="icon">
          <i class="ion-ios-paper inner-icon" style="background-color: #43A047;"></i>
        </div>
        <div style="margin-left:10px">帖子消息</div>
        <span ng-show="vm.notification.post > 0" class="fright badge badge-assertive">{{vm.notification.post}}</span>
        <i class="list-right-arrow icon ion-chevron-right icon-accessory"></i>
      </a>

      <a href="#/tab/features/mypost" class="item item-icon-left">
        <div class="icon">
          <i class="ion-ios-box inner-icon" style="background-color: #3F51B5;"></i>
        </div>
        <div style="margin-left:10px">我的帖子</div>
        <i class="list-right-arrow icon ion-chevron-right icon-accessory"></i>
      </a>

      <a href="#/tab/features/myreply" class="item item-icon-left">
        <div class="icon">
          <i class="ion-ios-undo inner-icon" style="background-color: #00BCD4;"></i>
        </div>
        <div style="margin-left:10px">我的回覆</div>
        <i class="list-right-arrow icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>

    <div class="list card">

      <a href="#/tab/features/history" class="item item-icon-left">
        <div class="icon">
          <i class="ion-ios-clock inner-icon" style="background-color: #FF5722;"></i>
        </div>

        <div style="margin-left:10px">瀏覧紀錄</div>
        <i class="list-right-arrow icon ion-chevron-right icon-accessory"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
