<ion-view class="feature-view">
  <ion-nav-title>
    會員功能
  </ion-nav-title>
  <div class="spinner">
    <ion-spinner class="spinner-balanced" icon="ripple" ng-show="vm.chats.length == 0"></ion-spinner>
  </div>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-refresh-empty" ng-click="vm.doRefresh()"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">

      <a href="#/tab/features/chats" class="item item-icon-left">
        <div class="icon">
          <i class="ion-ios-email" style="font-size:28px;color:white;background-color: #2196F3;padding:4px 9px; border-radius:10px"></i>
        </div>

        <div style="margin-left:10px">私人訊息</div>
        <span ng-show="vm.notification.pm > 0" class="fright badge badge-assertive" >{{vm.notification.pm}}</span>
        <i class="icon ion-chevron-right icon-accessory" style="left:90%"></i>
      </a>

      <a href="#/tab/features/notifications" class="item item-icon-left">
        <div class="icon">
          <i class="ion-ios-paper" style="font-size:28px;color:white;background-color: #43A047;padding:4px 9px; border-radius:10px"></i>
        </div>
        <div style="margin-left:10px">帖子消息</div>
        <span ng-show="vm.notification.post > 0" class="fright badge badge-assertive">{{vm.notification.post}}</span>
        <i class="icon ion-chevron-right icon-accessory" style="left:90%"></i>
      </a>

    </div>
  </ion-content>
</ion-view>
