
<ion-modal-view class="card-view">
  <ion-header-bar class="bar-balanced">
    <i class="button ion ion-ios-close-empty" ng-click="hide()"></i>
    <h1 class="title">{{ message.post.title }}</h1>
    <button class="button" ng-click="doEdit(edit.subject,edit.content, images)">修改</button>
  </ion-header-bar>
  <ion-content>
    <ion-list >

    <input-helper modal='this' content-model='edit.content' on-image-upload="onImageUpload"></input-helper>

    <div class="row" ng-show="edit.subject">
      <div class="col">
        <label class="item item-input" style="width:100%">
          <input placeholder="請輸入標題" type="text" ng-model="edit.subject">
        </label>
      </div>
    </div>

    <textarea id="edit-content"
              placeholder="請輸入文字"
              ng-model="edit.content"
              style="width: 100%;height: 200px; padding: 20px 20px 0 20px;"
    ></textarea>

    <div class="tab-bar-inset"></div>

  </ion-content>
</ion-modal-view>
