<ion-modal-view ng-init="post.category={}">
  <ion-header-bar class="bar-positive">
    <i class="button ion ion-ios-close-empty" ng-click="hide()"></i>
    <h1 class="title">{{ topic.name }}</h1>
    <button class="button" ng-click="doPublishNewPost(post)">發佈</button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <div ng-show="categories.length > 0" class="item item-divider" style="text-align: center" ng-click="openCategoryPopover($event)">
        {{post.category.name || '新帖類別'}} <i class="ion-android-arrow-dropdown" ></i>
      </div>
    </ion-list>

    <input-helper modal="this" content-model="post.content" on-image-upload="onImageUpload"></input-helper>

    <div class="row">
      <div class="col">
        <label class="item item-input" style="width:100%">
          <input placeholder="請輸入標題" type="text" ng-model="post.title">
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label class="item item-input text">
          <textarea
              id="new-content"
              placeholder="請輸入文字"
              rows="20"
              ng-model="post.content"
          ></textarea>
        </label>
      </div>
    </div>

    <div style="width:100%; height:100px"></div>

  </ion-content>
</ion-modal-view>
