<ion-popover-view style="width:90%; height:70%">
  <ion-header-bar>
    <h1 class="title">第 {{vm.inputPage}} 頁 / 共 {{vm.totalPageNum}} 頁</h1>
  </ion-header-bar>
  <ion-content scroll="false" scrollbar-y="false">
    <ion-scroll style=" height:100%;width:50%;float:left; border-right:1px solid #ddd"  ng-if="vm.totalPageNum > 1 && vm.inputPage"   ng-init="vm.inputPageRangeStart = vm.parseInt(vm.inputPage / 50)">
      <div class="list">
        <ion-radio class="item"
             style="border:0px"
             ng-repeat="page in vm.getTimes(vm.totalPageNum / 50 + 1) track by $index"
             ng-init="start = $index * 50 + 1; end = ($index+1) * 50"
             ng-model="vm.inputPageRangeStart"
             ng-value="$index"
        >
          {{::start}} - {{::end}}  頁
        </ion-radio>
      </div>
    </ion-scroll>

    <ion-scroll style=" height:100%;width:50%;float:left">
      <div class="list" >
        <div class="item text-center"
             ng-repeat="any in vm.getTimes(50) track by $index"
             ng-show="page <= vm.totalPageNum"
             ng-click="vm.inputPage = page; vm.doJumpPage()"
             ng-style="page == vm.inputPage ? { 'background-color': '#FFF9C4' } : {} "
        >
          第 {{ page = 50 * vm.inputPageRangeStart + $index + 1}} 頁
        </div>
      </div>
    </ion-scroll>
  </ion-content>

</ion-popover-view>