<ion-popover-view>
  <ion-header-bar>
    <h1 class="title">第 {{vm.inputPage}} 頁 / 共 {{vm.totalPageNum}} 頁</h1>
  </ion-header-bar>
  <ion-content >
    <div class="list">
      <div class="item range range-positive">
        <input type="range"
               min="1"
               max="{{vm.totalPageNum}}"
               value="{{vm.page}}"
               step="1"
               ng-init="vm.inputPage = 1"
               ng-model="vm.inputPage"
               ng-change="vm.onPageSliderDrag(vm.inputPage)">
      </div>
    </div>
    <div class="padding">
      <a class="button button-full button-balanced"
         ng-click="doJumpPage()">
        前住
      </a>
      <button class="button button-full button-assertive" ng-click="closePopover()">
        取消
      </button>
    </div>

  </ion-content>
</ion-popover-view>