
<ion-modal-view class="card-view">
  <ion-header-bar class="bar-positive">
    <button class="button" ng-click="hide()">取消</button>
    <h1 class="title">{{ message.post.title }}</h1>
    <button class="button" ng-click="doReply(reply)">發佈</button>
  </ion-header-bar>
  <ion-content lazy-scroll>
    <div class="list card" ng-show="reply.id">

      <div class="item item-avatar">
        <img ng-src="{{message.author.image}}">
        <h2 ng-bind="message.author.name"></h2>
        <p>{{message.createdAt}} <span style="float:right">#{{message.pos}}</span></p>
      </div>

      <div class="item item-body" compile="message.content">
      </div>

    </div>
    <ion-list ng-show="reply.id">
      <div class="item item-divider" style="text-align: center">
        回覆類別
      </div>
      <div class="row">
      <ion-radio class="col-33" ng-model="reply.type" ng-value="1"><i class="icon ion-compose"></i> 無</ion-radio>
      <ion-radio class="col-33" ng-model="reply.type" ng-value="2"><i class="icon ion-reply"></i> 回覆</ion-radio>
      <ion-radio class="col-33" ng-model="reply.type" ng-value="3"><i class="icon ion-quote"></i> 引用</ion-radio>
      </div>
    </ion-list>

    <button class="button button-full" ng-click="openGifPopover($event)">
      <img src="http://www.hkepc.com/forum/images/smilies/default/icon_tongue.gif"
           style="background-color:#fff;border-radius:100px;" alt=""/> Gif
    </button>
    <div class="row">
      <div class="col">
        <label class="item item-input text">
          <textarea id="reply-content" placeholder="請輸入文字" rows="5" ng-model="reply.content" ng-Required="true" name="description"></textarea>
        </label>
      </div>
    </div>

    <!--<button class="button button-balanced button-full" >草稿(開發中)</button>-->
    <div style="width:100%; height:500px"></div>
  </ion-content>
</ion-modal-view>
