<ion-modal-view class="user-profile">
  <ion-header-bar class="bar-dark">
    <i class="button ion ion-close" ng-click="hide()"></i>
    <h1 class="title">{{ author.name }}</h1>
  </ion-header-bar>
  <ion-content>
    <div ng-show="!content">
      <div class="text-center">
        <h4 class="title" >下載中</h4>
      </div>
      <div class="spinner">
        <ion-spinner class="spinner" icon="ripple"></ion-spinner>
      </div>
    </div>


    <div ng-show="content">
      <img class="profile-pic" ng-src="{{author.image}}" >

      <div class="dashline"></div>

      <div class="content" compile="content">{{content}}</div>
    </div>
  </ion-content>
</ion-modal-view>
