<ion-modal-view class="user-profile">
  <ion-header-bar class="bar-dark">
    <i class="button ion ion-ios-close-empty" ng-click="hide()"></i>
    <h1 class="title">{{ author.name }}</h1>
    <i class="button" ng-click="sendPm()">發送短消息</i>
  </ion-header-bar>
  <ion-content>
    <div ng-show="!content">
      <div class="text-center">
        <h4 class="title" >下載中</h4>
      </div>
      <div class="spinner">
        <ion-spinner class="spinner" icon="android"></ion-spinner>
        <p class="less-important-info">注意：HKEPC 伺服器有時加載呢頁會特別耐！ </p>
      </div>
    </div>


    <div ng-show="content">
      <img class="profile-pic" ng-src="{{author.image}}" >

      <div class="dashline"></div>

      <div class="content" compile="content">{{content}}</div>
    </div>

    <div style="height:200px"></div>
  </ion-content>
</ion-modal-view>
