.myreply-view {
  .odd > a {
    background-color: $odd-color;
  }

  .even > a {
    background-color: $even-color;
  }

  .less-important-info {
    color: $less-important-color;
    font-size: $font-size-small;
  }
}
