.chats-list-view {
  .odd > a {
    background-color: $odd-color;
  }

  .even > a {
    background-color: $even-color;
  }

  .new-pm {
    .item-content {
      background-color: mix($epc-color, $bg-color, 20%);
    }
  }
}
