.chats-view {

  ion-content {
    background-color: $bg-color;
  }

  /* fixes an ios bug bear */
  button.ion-android-send {
    padding-top: 2px;
  }

  /* add this to keep your footer buttons down
  at the bottom as the textarea resizes */
  .footer-btn-wrap {
    position: relative;
    width: 60px;
    top: 15px;
  }

  .footer-btn {
    position: absolute !important;
    bottom: 0;
  }

  img {
    &.profile-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      bottom: 10px;
      &.left {
        left: 10px;
      }

      &.right {
        right: 10px;
      }
    }
  }

  .message {
    font-size: $font-size-base;

    img:not([src$=".gif"]){
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:100%;
      max-width: 400px;
      margin-top:5px;
      text-align: center;
    }

    img[src$=".gif"]{
      height:auto;
      max-width: 100%;
      width:auto!important;
      background-color: #fff;
      border-radius: 20px;
    }

  }

  .message-detail {
    white-space: nowrap;
    font-size: $font-size-base;
  }

  .bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
  }

  .message-wrapper {
    position: relative;
  }

  .message-wrapper:last-child {
    margin-bottom: 10px;
  }

  .chat-bubble {
    :before {
      content: "\00a0";
      display: block;
      height: 16px;
      width: 9px;
      position: absolute;
      bottom: -7.5px;
    }
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
    * {
      -moz-user-select: text;
      -webkit-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }

    &.left {
      background-color: $left-bubble-bg-color;
      float: left;
      margin-left: 55px;

      :before {
        background-color: $left-bubble-bg-color;
        left: 10px;
        -webkit-transform: rotate(70deg) skew(5deg);
      }

    }

    &.right {
      background-color: $right-bubble-bg-color;
      color: #222;
      float: right;
      margin-right: 55px;
      :before {
        background-color: $right-bubble-bg-color;
        right: 10px;
        -webkit-transform: rotate(118deg) skew(-5deg);
      }


      font[color="Silver"]{
        color:$signature-color;
      }
    }
  }


  input, textarea, .item-input, .item-input-wrapper {
    background-color: $chat-input-bg-color;
    color: invert($chat-input-bg-color);
  }

  .bold {
    font-weight: bold;
  }

  .cf {
    clear: both !important;
  }
}
