.notification-view {
  .odd {
    background-color: $odd-color;
  }

  .even {
    background-color: $even-color;
  }
  .new-notification {
    background-color: mix($epc-color, $bg-color, 20%);
  }

  .item-body {
    color: $text-color;
  }
}
