<ion-view >
  <ion-nav-title>
    Notification
  </ion-nav-title>
  <div class="spinner">
    <ion-spinner class="spinner-balanced" icon="ripple" ng-show="vm.chats.length == 0"></ion-spinner>
  </div>
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-ios-arrow-thin-left" ng-click="vm.onBack()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-refresh-empty" ng-click="vm.doRefresh()"></a>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item"
                ng-repeat="notification in vm.notifications track by $index"
                type="item-text-wrap">
        <div class="fright">#{{$index + 1}}</div>
        <div class="item-body" compile="::notification">
      </ion-item>
      <ion-infinite-scroll
          class="ispinner text-center"
          ng-if="vm.hasMoreData()"
          on-infinite="vm.loadMore()"
          spinner="ripple"
          immediate-check="false"
          distance="7%">
      </ion-infinite-scroll>
    </ion-list>
  </ion-content>
</ion-view>
