.notification-view {
  .odd {
    background-color: $odd-color
  }

  .even {
    background-color: $even-color
  }
  .new-notification{
    background-color: #F1F8E9;
  }

  .item-body{
    color:$text-color;
  }
}