.contentmanage-users-view {
  // uid
  .item-input-wrapper > input:first-child {
    width: 50%;
    border-right: 1px solid $border-color;
    border-radius: 0;
  }

  // remark
  .item-input-wrapper > input:nth-child(2) {
    width: 50%;
    padding-left: 16px;
    border-radius: 0;
  }

  .odd {
    &.item,
    .item-content {
      background-color: $odd-color;
    }
    &.editable-item,
    .item-reorder,
    .item-delete {
      background-color: $odd-color;
      .button.icon {
        color: red;
      }
      padding: 0;
    }
  }

  .even {
    &.item,
    .item-content {
      background-color: $even-color;
    }
    &.editable-item,
    .item-reorder,
    .item-delete {
      background-color: $even-color;
      .button.icon {
        color: red;
      }
      padding: 0;
    }
  }

  .item {
    .remark {
      flex: 2;
      text-align: right;
      word-break: break-word;
      white-space: normal;
    }
  }
}
