.feature-view {
  ion-content {
    background-color: $bg-color;

  }

  .inner-icon {
    font-size: $font-size-base * 2;
    color:$inner-icon-color;

    padding:4px 9px;
    border-radius:10px;
  }

  .list-right-arrow {
    position:absolute;
    left:initial;
    width:20px;
    right:12px;
  }

  .card {
    .feature-route, .item {
      color:$text-color;
      background-color: $card-bg-color;
    }
    :hover{
      background-color: $card-selection-color;
    }
  }
}