.feature-view {
  ion-content {
    background-color: $bg-color;

  }

  .inner-icon {
    font-size: $font-size-base * 2;
    color:$inner-icon-color;

    padding:4px 9px;
    border-radius:10px;
  }

  .text-icon {
    font-size: 24px;
    line-height: 28px;
    width: 40px;
    text-align: center;
    font-family: Hack, Monaco, monospace;
  }

  .list-right-arrow {
    position:absolute;
    left:initial;
    width:20px;
    right:12px;
  }

  .card {
    background-color: $card-bg-color;

    .feature-route, .item {
      color:$text-color;
      background-color: $card-bg-color;
    }
    :hover{
      background-color: $card-selection-color;
    }

    .selectable:after {
        position: absolute;
        top: 50%;
        right: 16px;
        margin-top: -3px;
        width: 0;
        height: 0;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        color: $text-color;
        content: "";
        pointer-events: none;
    }
    select {

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 0 35px 0 0px;
      max-width: 40%;
      border: none;
      background: $card-bg-color;
      color: $text-color;
      text-indent: .01px;
      text-overflow: '';
      white-space: nowrap;
      font-size: 14px;
      cursor: pointer;
      direction: rtl;
    }
  }

  .forum-style-warning{
    color:red;
    text-align: right;
    position:absolute;
    font-size:12px;
    right:20px;
    bottom:0px
  }

  .update-notice {
    margin-top: 8px;
    margin-bottom: -8px;
    text-align: center;
    a {
      color: $link-color;
    }
  }
}
