// sync all background color for ionic component
html, body, .pane, .view, .view-container {
  background-color: $bg-color;
}

// word break
* {
  word-break: break-all;
  -webkit-text-size-adjust: none!important;
  text-rendering: optimizeSpeed;
}

input,textarea {
  /* Exception for input areas */
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
}

// shortcut for image center
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a.youtube-link {
  display:block;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.youtube-embed {
  padding-top: 8px;
}

//
.text-center{
  text-align: center;
}

.fright{
  float:right;
}
.fleft{
  float:left;
}

.username{
  font-weight: 700;
}

.w100{
  width: 100%;
}

.widget-content {
  background-color: lighten($bg-color, 5%);
}

// common ionic content
.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
  background-color: $activated-color;
  border-color: $border-color;
}
.item.active.item-complex > .item-content, .item.activated.item-complex > .item-content, .item-complex.active .item-content.item-complex > .item-content, .item-complex.activated .item-content.item-complex > .item-content, .item .item-content.active.item-complex > .item-content, .item .item-content.activated.item-complex > .item-content {
  background-color: $activated-color;
  border-color: $border-color;
}
ion-tabs {
  &.pane, &.view {
    background-color: $bg-color;
  }
}
ion-content {
  background-color: $bg-color;

  /* Font Size */
  .item {
    border-color: $border-color;

    .bigger-title {
      font-size: floor($font-size-base * 1.2);
    }
  }

  .odd {
    .item-content {}
  }

  .even {
    .item-content{  background-color: $even-color;  }
  }
}

.item-radio .item-content { padding-right:0;}

ion-list, .list {
  // override
  .item {
    border: 0;
    &.item-divider {
      color: $item-divider-font-color;
      background-color: $epc-color;
      border: 0;
    }
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .input-label{
  color:$text-color;
}

.bar.bar-stable {
  border-color: $border-color;
  background-color: $header-bg-color;
  .title{
    color:$text-color;
  }
  button, .button {
    color: $default-button-font-color;
  }
}

.bar {
  //&.bar-header{
  //  background-color: $bg-color;
  //}
  &.bar-subheader{
    border:0;
  }
  .button.button-icon {
    color: mix($text-color,$bg-color,50%);
  }
}

.tab-nav{
  border-color: $border-color;
  background-color: $header-bg-color;
  i ,span{
    color:$tab-item-stoke-color;
  }

}
.platform-ios .popover-arrow:after {
  background-color:  $popover-bg-color;
}

.popover, .range.range-positive {
  color:$text-color;
  background-color: $popover-bg-color;

  ion-header-bar{
    border-bottom: 1px solid $border-color;
  }

  .bar.bar-header, .bar.bar-footer,ion-content,.button.button-icon, .item{
    background-color: $popover-bg-color;
  }
  .bar.bar-subheader{
    border:0;
  }
  .button.button-icon {
    color: mix($text-color,$bg-color,50%);
  }

  .item {
    border:0 !important;
  }

  .item .item-content {
    background-color: $header-bg-color;
  }

  .scroll-content {
    padding: 0;
    margin: 0;
  }
}
.item-input-inset {
  background-color: $bg-color;
  border: 0;

  .item-input-wrapper {
    padding: 4px 16px;
    background-color: lighten($bg-color,10%);

    textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
      color:$text-color;
      padding: 0;
    }
  }
}
.item-checkbox, .item-input, .item-radio, .popover {
  color:$text-color;
  //background-color: lighten($bg-color,10%);

  textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    color:$text-color;
    background-color: lighten($bg-color,10%);
  }
  &.item, .item-content {
    background-color: lighten($bg-color,10%);
  }

  input:checked + .radio-content .item-content{
    color:$text-color;
    background-color: lighten($bg-color,20%);
  }
}

textarea {
  color:$text-color;
  background-color: lighten($bg-color,10%);
  margin-top:1px;
}

.button {
  &.ion-close, &.ion-ios-close-empty {
    border:0;
    font-size:30px;
  }
}

.button:hover {
  color:$default-button-font-color;
}
.button-block {
  border:0;
}
.button-full, .button-default {
  background-color:$default-button-bg-color;
  color: $default-button-font-color;
  border:0;
  &.activated {
    background-color: lighten($default-button-bg-color, 20%);
    color:darken($default-button-font-color, 5%);
  }
}

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .tabs, .bar {
    background-size: 100% 0px!important;
  } }

.action-sheet-open {
  pointer-events: auto !important;
}

.ir-divider{
  width: 100%;
  border:1px solid $border-color;
}

textarea {
  min-height: 60px;
  padding-right: 10px;
}

.less-important-info {
  color: $less-important-color !important;
  font-size: 14px !important;
}

.super-less-important-info {
  color: $less-important-color !important;
  font-size: 12px !important;
}

.ultra-less-important-info {
  color: $less-important-color !important;
  font-size: 12px !important;
}

@media (min-width: 680px) {
  .modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 240px;
    width: 100%;
  }
}


.sticky-title {
  background-color:$bg-color;
  color:$text-color;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size:11px;
  width:100%;
  white-space: nowrap ;
  padding: 0 5px;
  height:20px;
  text-align: center;
  display:block;
}

.default-text-color {
  color: $text-color;
}

.search-highlight{
  background-color: $highlight-background;
  color: $highlight-text-color;
  padding: 0 3px;
}

.popup-container.active .popup {
  background-color: $bg-color;
  .popup-head {
    border-bottom: 1px solid $border-color;
  }
  .popup-title{
    color: $text-color;
  }
}

// TODO: refactor Swal customization
.swal2-popup .swal2-content {
  font-family: $font-family-base !important;
  font-weight: normal;
}
.swal2-popup .swal2-styled {
  padding: 8px;
}
.swal2-popup .swal2-styled:focus {
  box-shadow: none;
}
.swal2-popup .swal2-styled.swal2-confirm {
  background-color: $epc-color;
  font-size: $button-font-size;
}
.swal2-popup .swal2-styled.swal2-cancel {
  font-size: $button-font-size;
}
.swal2-popup .swal2-actions:not(.swal2-loading) {
  margin: 0 8px;
  > * {
    flex: 1;
  }
}

.swal2-popup.swal2-loading {
  width: 300px;
}

.swal2-popup .swal2-actions.swal2-loading {
  margin: 8px 0 0 0;
}

.swal2-popup .swal2-textarea {
  resize: none;
  height: 80px;
  margin: 16px;
  width: calc(100% - 32px);
  transition: unset !important;
  border: 0 !important;
  box-shadow: none;
  &:focus {
    border: 0 !important;
    outline: unset !important;
    box-shadow: unset !important;
  }
}
.swal2-popup .swal2-styled {
  margin: 10px;
}
.swal2-popup .swal2-title {
  font-size: $bar-title-font-size;
  margin: 0;
}
.swal2-popup.swal2-modal.message {
  color: $text-color;
  background: $bg-color;
  top: 40px;
  position: absolute;
  max-width: 400px;
  padding: 16px;

  textarea {
    font-size: $font-size-base;
    color:$text-color;
    background-color: lighten($bg-color,10%);
  }
}

// side menu
.item {
  color: $text-color;
  .item-content {
    background-color: $bg-color;
  }
  &.active {
    background-color: $activated-color;
  }
}

.active-nav-view{
  z-index: 8;
}

.side-menu {
  background-color: $header-bg-color;
  .item-content {
    background-color: $header-bg-color;
    box-shadow: 1px 1px 1px $news-border-color;
    border: 1px solid $news-border-color;

  }
}

.item-checkbox > .item-content {
  background-color: transparent;
}

.custom-svg-fill {
  fill: $epc-color;
}

ion-infinite-scroll {
  position: absolute;
  height: 50px;
}

.menu {
  a {
    border:0 !important;
  }
}

.action-sheet .button, .action-sheet .input-helper .flow-button, .input-helper .action-sheet .flow-button {
  color: $text-color;
  font-size: $font-size-large;
  border-color: $border-color;
}

.action-sheet .button.active, .action-sheet .input-helper .active.flow-button, .input-helper .action-sheet .active.flow-button, .action-sheet .button.activated, .action-sheet .input-helper .activated.flow-button, .input-helper .action-sheet .activated.flow-button {
  color: $text-color;
  font-size: $font-size-large;
  border-color: $border-color;
  background-color: $activated-color;
}

.action-sheet .button:hover, .action-sheet .input-helper .flow-button:hover, .input-helper .action-sheet .flow-button:hover {
  color: $text-color;
}

.action-sheet .button.activated, .action-sheet .input-helper .flow-button.activated, .input-helper .action-sheet .flow-button.activated {
  color: $text-color;
}

.action-sheet-options, .action-sheet-group {
  background-color: $popover-bg-color;
}

.platform-ios .popover-arrow:after {
  display: none;
}
.platform-ios .popover .scroll-content {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.bar {
  a.ion-edit.edit-mode-activated {
    color: $sub-epc-color;
  }
  a.ion-edit:before {
    font-size: 22px !important;
  }
}

.page-indicator-wrapper {
  opacity: 0.7;
  position: fixed;
  bottom: 16px;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.button-rounded {
  border-radius: 32px;
  background-color: #0b0b0b;
  color: white;
  padding: 0 8px;
  height: 24px;
  line-height: 24px;
  min-height: unset;
}

.action-button {
  font-size: 14px;
  &.action-button-small {
    font-size: 12px;
  }

  border: 1px solid $border-color;
  background-color: $action-button-bg-color;
  color: $text-color;

  &:active {
    background-color: lighten($action-button-bg-color, 3%);
    color: $text-color;
  }
}
