// word break
* {
  word-break: break-all;
  -webkit-text-size-adjust: auto!important;
}

// shortcut for image center
.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

//
.text-center{
  text-align: center;
}

.fright{
  float:right;
}
.fleft{
  float:left;
}

.username{
  font-weight: 700;
}

.w100{
  width: 100%;
}

// common ionic content
.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
  background-color: $activated-color;
  border-color: $border-color;
}
ion-tabs {
  &.pane, &.view {
    background-color: $bg-color;
  }
}
ion-content {
  background-color: $bg-color;

  /* Font Size */
  .item {
    border-color: $border-color;

    .bigger-title {
      font-size: floor($font-size-base * 1.2);
    }
  }

  .odd {
    .item-content {}
  }

  .even {
    .item-content{  background-color: $even-color;  }
  }
}

.item-radio .item-content { padding-right:0;}

ion-list, .list {
  // override
  .item {
    &.item-divider {
      color: $item-divider-font-color;
      background-color: $epc-color;
    }
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .input-label{
  color:$text-color;
}

.bar.bar-stable {
  border-color: $border-color;
  background-color: $header-bg-color;
  .title{
    color:$text-color;
  }
  button, .button {
    color: $default-button-font-color;
  }
}

.bar {
  //&.bar-header{
  //  background-color: $bg-color;
  //}
  &.bar-subheader{
    border:0;
  }
  .button.button-icon {
    color: mix($text-color,$bg-color,50%);
  }
}

.tab-nav{
  border-color: $border-color;
  background-color: $header-bg-color;
  i ,span{
    color:$tab-item-stoke-color;
  }

}
.platform-ios .popover-arrow:after {
  background-color:  $popover-bg-color;
}

.popover, .range.range-positive {
  color:$text-color;
  background-color: $popover-bg-color;

  ion-header-bar{
    border-bottom: 1px solid $border-color;
  }

  .bar.bar-header, .bar.bar-footer,ion-content,.button.button-icon, .item{
    background-color: $popover-bg-color;
  }
  .bar.bar-subheader{
    border:0;
  }
  .button.button-icon {
    color: mix($text-color,$bg-color,50%);
  }

  .item:last-child {
    border-bottom: 1px solid $border-color;
  }
}
.item-checkbox, .item-input, .item-radio, .popover{
  color:$text-color;
  //background-color: lighten($bg-color,10%);

  textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    color:$text-color;
    background-color: lighten($bg-color,10%);
  }
  &.item, .item-content {
    background-color: lighten($bg-color,10%);
  }

  input:checked + .radio-content .item-content{
    color:$text-color;
    background-color: lighten($bg-color,20%);
  }
}

textarea {
  color:$text-color;
  background-color: lighten($bg-color,10%);
  margin-top:1px;
}

.button {
  &.ion-close, &.ion-ios-close-empty {
    border:0;
    font-size:30px;
  }
}

.button:hover {
  color:$default-button-font-color;
}
.button-full {
  background-color:$default-button-bg-color;
  color: $default-button-font-color;
  border:0px;
  &.activated {
    background-color: lighten($default-button-bg-color, 20%);
    color:darken($default-button-font-color, 5%);
  }
}

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .tabs, .bar {
    background-size: 100% 0px!important;
  } }

.action-sheet-open {
  pointer-events: auto !important;
}

.ir-divider{
  width: 100%;
  border:1px solid $border-color;
}

textarea {
  min-height: 60px;
  padding-right: 10px;
}

.less-important-info {
  color: $less-important-color;
  font-size: 14px;
}

@media (min-width: 680px) {
  .modal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 240px;
    width: 100%;
  }
}


.sticky-title {
  background-color:$bg-color;
  color:$text-color;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size:11px;
  width:100%;
  white-space: nowrap ;
  padding: 0 5px;
  height:20px;
  text-align: center;
  display:block;
}

.default-text-color {
  color: $text-color;
}

.search-highlight{
  background-color: $highlight-background;
  color: $highlight-text-color;
}