.page-picker-view {
  border-radius: 0;

  .popover-arrow {
    left:49% !important;
  }

  .item {
    height: 36px;
    padding: 8px 0;
    color: $text-color;
    &.active {
      background-color: $activated-color;
    }

  }

  .range-pick {
    .item {
      padding: 0 0;
    }

    .radio-content {
      .item-content {
        padding: 8px 16px 8px 0;
        height: 36px;
        text-align: center;
      }
    }
    .radio-icon {
      padding: 0;
      margin: 0 8px 0 8px;
      height: 24px;
      line-height: 36px;
    }
  }

  .range-pick{
    border-right:1px solid $border-color;
  }

  .button-full {
    border: 0;
    padding: 0;
    margin: 0;
    height: 30px;
    background-color: $epc-color;
    border-radius: 0;
    color: $text-on-epc-color;
  }

  ion-scroll{
    height: calc(100% - 40px);
    width:50%;
    float:left;
    border-bottom: 1px solid $border-color;
  }

  .row {
    padding: 0;
  }

  .bar-header {
    border: 0;
    padding:0;
  }

  .page-picker-view-container {
    margin-top: -20px;
  }

  .bottom-row {
    position:absolute;
    bottom: 8px;
    display: flex;
    width: 240px;
    line-height: 44px;

    > * {
      flex: 1;
      margin: 0 4px;
    }
  }
}
