.page-picker-view{
  left:5% !important;
  border-radius: 0;

  .popover-arrow {
    left:49% !important;
  }
  .item {
    color: $text-color;
    &.active {
      background-color: $activated-color;
    }
  }

  .range-pick{
    border-right:1px solid $border-color;
  }

  .button-full {
    border: 0;
    padding: 0;
    margin: 0;
    height: 30px;
    background-color: $epc-color;
    border-radius: 0;
    color: $text-on-epc-color;
  }

  ion-scroll{
    height:100%;
    width:50%;
    float:left;
  }

  .row {
    padding: 0;
  }

  .bar-header {
    border: 0;
    padding:0;
  }

  .page-picker-view-container {
    margin-top: -20px;
  }
}