.page-picker-view{
  left:5% !important;

  .popover-arrow {
    left:49% !important;
  }
  .item {
    color: $text-color;
    &.active {
      background-color: $activated-color;
    }
  }

  .range-pick{
    border-right:1px solid $border-color;
  }

  .button-full {
    border: 1px solid lighten($border-color,5%);
  }

  ion-scroll{
    height:90%;
    width:50%;
    float:left;
  }
}