// normal page spinner
div{
  &.spinner {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 20px;
    text-align: center;
  }
}

// infinity spinner
.ispinner {
  .spinner {
    stroke: $spinner-color;
    fill: $spinner-color;
  }
}
.spinner.spinner {
  stroke: $spinner-color;
  fill: $spinner-color;
}
.image-loader-container{
  text-align: center;
  height: 200px;
  border: 1px solid $less-important-color;
  ion-spinner{
    top:90px;
    position: relative;
  }
}

.spinner.spinner-xs > svg {
  width: 10px;
  height: 10px;
}