.user-profile{


  ion-content{
    padding:20px;

    .sub-action-bar {
      display: flex;
      button {
        flex: 1;
        margin: 0 16px 16px 16px;
        padding: 8px;
      }
    }

    .dashline{
      @extend .ir-divider;
    }

    .profile-pic{
      display:block;
      margin:auto;
      padding-bottom: 20px;
      width: 150px;
    }

    .content{

      margin-top: 20px;

      h1 {
        @extend h3;
      }

      h3 {
        @extend h4;
      }

      * {
        color: $text-color;
      }

      a {
        color: $link-color;
      }

      table{
        text-align: left;
      }


    }

  }

}
