.user-profile{

  ion-content{

    padding:20px;

    .dashline{
      @extend .ir-divider;
    }

    .profile-pic{
      display:block;
      margin:auto;
      padding-bottom: 20px;
    }

    .content{

      margin-top: 20px;

      h1 {
        @extend h3;
      }

      h3 {
        @extend h4;
      }

      * {
        color: $text-color;
      }

      a {
        color: $link-color;
      }

      table{
        text-align: left;
      }


    }

  }

}