// common color
$border-color: #e0e0e0;
$epc-color: #8fc320;
$sub-epc-color: #ff6d00;
$text-on-epc-color: #fff;
$bg-color: #eeeeee;
$header-bg-color: #f8f8f8;
$odd-color: #ffffff;
$even-color: #f5f5f5;
$inner-icon-color: #fff;
  // text color
  $text-color: #000000;
  $less-important-color: #999;

  $activated-color: #f0f0f0;

  // tab item
  $tab-item-stoke-color: #444;

  $default-button-bg-color: #f8f8f8;
  $default-button-font-color: #444;

//popover
$popover-bg-color: lighten($bg-color,5%);



// spinner
$spinner-color: #8fc320;

// item-divider
$item-divider-bg-color: $epc-color;
$item-divider-font-color: $text-on-epc-color;

// card view
$liked-color: #dd0000;
$locked-dash-line: #FF9A9A;
$blockquote-color: #8fc320;
$card-holder-bg-color: #eee;
$card-bg-color: #fff;
$card-selection-color: darken($card-bg-color,2%);
  $news-border-color: rgba(0,0,0,0.1);
  $card-news-holder-bg-color: #fff;
// ng toast


// chart view
$left-bubble-bg-color: #FAFAFA;
$right-bubble-bg-color: #8BC34A;
$signature-color: #444444;
$chat-input-bg-color: #f4f4f4;

// post list view
$hot-topic-icon-color-on: #FF6D00;
$hot-topic-icon-color-off: #444;

// general text color
$danger-text-color: #ff4444;
$success-text-color: #8fc320;

// search highlight
$highlight-background: rgba(#FFEB3B,0.5);
$highlight-text-color: $text-color;


// override ionic css color
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       lighten($epc-color,2%) !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
