//////////////////////////black theme///////////////////
// common color
$border-color: #353535;
$epc-color: #37474F;
$sub-epc-color: #ff6d00;
$text-on-epc-color: #f4f4f0;
$bg-color: #222222;
$header-bg-color: #282828;
$odd-color: #2b2b28;
$even-color: #22221c;
$inner-icon-color: #fff;
// text color
$text-color: #f2f2ee;
$less-important-color: #777;
$activated-color: #444;
$tab-item-stoke-color: #999;

$default-button-bg-color: #333;
$default-button-font-color: $text-color;

//popover
$popover-bg-color: lighten($bg-color,5%);


// spinner
$spinner-color: $epc-color;

// item-divider
$item-divider-bg-color: $epc-color;
$item-divider-font-color: $text-on-epc-color;

// card view
$liked-color: #dd0000;
$locked-dash-line: #FF9A9A;
$blockquote-color: #607D8B;
$card-holder-bg-color: #eee;
$card-bg-color: #2b2b2b;
$card-selection-color: lighten($card-bg-color,2%);
  $news-border-color: rgba(255,255,255,0.15);
  $card-news-holder-bg-color: darken($card-bg-color,5%);

// ng toast


// chart view
$left-bubble-bg-color: #FAFAFA;
$right-bubble-bg-color: #8BC34A;
$signature-color: #444444;
$chat-input-bg-color: #444;

// post list view
$hot-topic-icon-color-on: #FF6D00;
$hot-topic-icon-color-off: #666;

// general text color
$danger-text-color: #ff4444;
$success-text-color: #8fc320;

// search highlight
$highlight-background: $epc-color;
$highlight-text-color: $text-color;

// override ionic css color
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       lighten($epc-color,10%) !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;