.about-version-view {
  -webkit-font-smoothing: antialiased;
  font-family: '-apple-system', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;

  .version-ios {
    font-weight: 300;
  }

  strong {
    font-weight: 800;
  }
  em {
    font-style: italic;
  }

  h1,
  h2,
  h3,
  h4 {
    text-decoration: underline;
  }
  h1,
  h2,
  h3,
  h4 {
    margin-top: 16px;
  }

  ion-content {
    background-color: $bg-color;
    color: $text-color;
    padding: 10px 16px 0 16px;

    pre {
      background-color: darken($bg-color, 5%);
      color: $text-color;
      padding: 8px;
      margin: 16px 8px;
    }

    code {
      background-color: darken($bg-color, 5%);
      padding: 0 4px;
    }

    ol,
    ul {
      list-style: initial !important;
      padding: 4px 16px 4px 16px;
    }

    ul li {
      list-style-position: outside;
      padding: 8px 0;
    }

    hr {
      margin: 10px -30px;
      border-color: $border-color;
    }

    img[src$='.gif'] {
      padding: 1px;
      margin: 1px;
      background-color: #ffffff;
      border-radius: 100px;
    }

    blockquote {
      border-left: 5px solid $epc-color;
    }
  }
}
