<ion-view class="feature-view">
  <ion-nav-title>
    瀏覧紀錄
  </ion-nav-title>
  <div class="spinner">
    <ion-spinner class="spinner-balanced" icon="ripple" ng-show="vm.chats.length == 0"></ion-spinner>
  </div>
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-ios-arrow-thin-left" ng-click="vm.onBack()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card">

      <a ng-repeat="dateStr in vm.sortedDateStrKey(vm.historyStat)" href="#/tab/features/history/{{dateStr}}" class="item item-icon-right">

        <div style="margin-left:10px">{{vm.relativeMomentize(dateStr)}}
          <span class="fright badge badge-royal" >{{vm.historyStat[dateStr].count}}</span>
          </div>
        <span ng-show="vm.notification.pm > 0" class="fright badge badge-assertive" >{{vm.notification.pm}}</span>
        <i class="icon ion-chevron-right icon-accessory" style="left:90%"></i>
      </a>


    </div>
  </ion-content>
</ion-view>
