.pstatus{
    display: block;
    height: 32px;
    text-align: center;
    font-style: normal;
    color: #999;
    font-size: 12px;
}
blockquote {
    border-left: 5px solid #8fc320;
}
.card .item-body .locked {
    margin: 10px 0;
    width: 100%;
    padding: 8px 8px 8px 24px;
    border: 1px dashed #FF9A9A;
    font-size: 12px;
}
