/* Empty. Add your own CSS if you like */
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.text-center{
    text-align: center;
}

/*angular-loading-bar*/
#loading-bar .bar {
    height: 1px;
    border: none;
    padding: 2px;
    color:#8fc320;
    background-color:#8fc320;
}
/* Font Size */
.item .bigger-title {
    font-size: 18px;
}
.odd .item-content{

}

.even .item-content{
    background-color: #fafafa;
}
/* Spinner */
div.spinner {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 20px;
    text-align: center;
}
.spinner svg {
    width: 19% !important;
    height: 43px !important;
}
.ispinner .spinner {
     stroke: #8fc320;
     fill: #8fc320;
}

ion-list .item.item-divider{
    color:#fff;
    background-color: #8fc320 !important;
}
*{
    word-break: break-all;
}
.card .item-body img,iframe, .card .ads iframe{
    width:100% !important;
    margin-top:5px;
}

.card .item-body img[src$=".gif"]{
    height:auto;
    width:auto!important;
}

.card .item-body .locked {
    margin: 10px 0;
    width: 100%;
    padding: 8px 8px 8px 24px;
    border: 1px dashed #FF9A9A;
    font-size: 12px;
}

.card .item-body *, .chat-bubble *{
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
blockquote {
    border-left: 5px solid #8fc320;
}
